/*
Product Name: dhtmlxSuite 
Version: 4.2 
Edition: Professional 
License: content of this file is covered by DHTMLX Commercial or Enterprise license. Usage without proper license is prohibited. To obtain it contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhtmlxslider_dhx_terrace .dhxsl_hidden {
	display: none;
}
.dhtmlxslider_dhx_terrace .dhxsl_container {
	position: relative;
	float: left;
	clear: left;
	margin: 0px;
	padding: 1px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhtmlxslider_dhx_terrace .dhxsl_container.dhxsl_cont_hr {
	margin-top: 4px;
}
.dhtmlxslider_dhx_terrace .dhxsl_container.dhxsl_cont_vr {
	margin-left: 4px;
}
.dhtmlxslider_dhx_terrace .dhxsl_runner {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #e8e8e8;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
}
.dhtmlxslider_dhx_terrace .dhxsl_runner.dhxsl_runner_actv {
	background-color: #e6e6e6;
}
.dhtmlxslider_dhx_terrace .dhxsl_cont_hr .dhxsl_runner {
	width: 12px;
	height: 22px;
}
.dhtmlxslider_dhx_terrace .dhxsl_cont_vr .dhxsl_runner {
	width: 22px;
	height: 12px;
}
.dhtmlxslider_dhx_terrace .dhxsl_runner_dis {
	border: 1px solid #d1d1d1;
	background-color: #f0f0f0;
}
.dhtmlxslider_dhx_terrace .dhxsl_track {
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #f5f5f5;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
}
.dhtmlxslider_dhx_terrace .dhxsl_cont_vr .dhxsl_track {
	height: 100%;
	width: 8px;
}
.dhtmlxslider_dhx_terrace .dhxsl_cont_hr .dhxsl_track {
	width: 100%;
	height: 8px;
}
.dhtmlxslider_dhx_terrace .dhxsl_track_dis {
	border: 1px solid #d1d1d1;
	background-color: #f0f0f0;
}
.dhxslider_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
