﻿html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.country_info {
    float: left;
    padding-left: 10px;
}

.country_info .country_name {
    color: #5a7de5;
    font-size: 16px;
    font-weight: bold;
}

.pin-header {
    cursor: pointer;
    font-weight: bold;
}

.pin-content {
    margin-top: 5px;
    font-size: 12px;
}

.pin-content > div {
    margin-bottom: 1px;
}

.dhxwin_text {
    padding-left: 28px !important;
}

.label-bold .dhxform_label {
    font-weight: bold;
}

.req-asterisk .dhxform_label .dhxform_item_required {
    display: none;
}

.label-big .dhxform_label {
    font-size: 18px !important;
}

.label-normal > div {
    font-weight: normal !important;
}

.label-red > div {
    color: #FF0000 !important;
}

.dhx_cell_acc.dhx_cell_closed > div:not(.dhx_cell_hdr) {
    visibility: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dhx_cell_acc.dhx_cell_closed {
    min-height: 53px !important;
}

.dhx_cell_acc.dhx_cell_closed .dhx_cell_statusbar_def{
    opacity: 1 !important;
    top: 32px !important;
    visibility: visible !important;
}

.expandCollapse {
    position: absolute;
    right: 0;
    height: 32px;
    width: 11px;
    background-image: url(imgs/dhxlayout_web/dhxlayout_cell_btns.gif);
    background-repeat: no-repeat;
    background-position: -20px 8px;
    cursor: pointer;
    z-index: 999;
    background-color: #3da0e3;
}

.bold {
    font-weight: bold;
}

.inline_childs div {
    display: block;
    font-size: xx-small;
    float: left;
}
.inline_childs{
    display: flex;
    justify-content: space-around;
}

div.gridbox_dhx_web.gridbox table.obj.row20px tr td img {
    display: inline-block !important;
    max-width: 20px !important;
    max-height: 18px !important;
}
div.gridbox_dhx_web.gridbox table.obj.row20px tr td {
    height: 20px;
    font-size: x-small;
    font-family: verdana;
}
div.gridbox_dhx_web.isModern table.obj.row20px tr td {
    line-height: 20px;
}
div.gridbox_dhx_web table.obj.row20px tr td.editable {
    height: 18px;
    line-height: 18px;
}
div.gridbox_dhx_web table.obj.row20px tr td.editable .treegrid_cell {
    height: 18px;
}
div.gridbox_dhx_web.gridbox table.hdr td{
    font-size: x-small;
    font-weight: bold;
    font-family: verdana;
}
.arrowLeftBtn .dhxform_btn_txt{
    background: url(../Images/arrowleft.jpg);
    width: 26px;
    margin: 0 !important;
    height: 25px !important;
}

.arrowRightBtn .dhxform_btn_txt{
    background: url(../Images/arrowright.jpg);
    width: 26px;
    margin: 0 !important;
    height: 25px !important;
}

.arrowUpBtn .dhxform_btn_txt{
    background: url(../Images/arrowup.jpg);
    width: 26px;
    margin: 0 !important;
    height: 25px !important;
}

.arrowDownBtn .dhxform_btn_txt{
    background: url(../Images/arrowdown.jpg);
    width: 26px;
    margin: 0 !important;
    height: 25px !important;
}
.size20{
    max-width: 20px !important;;
    max-height: 20px !important;
}
.border .dhxform_container.dhx_dataview{
    border: 1px dotted #c7c7c7;
}
.template{
    padding-top: 3px;
}
.flex-center{
    display: flex;
    justify-content: space-around;
}
#changeTransportType{
    cursor: pointer;
    text-decoration: underline;
}
.arrows_container{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 3px;
    background: url(imgs/dhxcombo_web/dhxcombo_arrow_down.gif);
}
.arrow_up{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(180deg);
    background: #3da0e3;
    height: 9px;
    cursor: pointer;
    background-image: url("imgs/dhxcombo_web/dhxcombo_arrow_down.gif");
    background-repeat: no-repeat;
    background-position: 5px 3px;
    box-sizing: border-box;
}
.arrow_down {
    background: #3da0e3;
    height: 9px;
    cursor: pointer;
    background-image: url("imgs/dhxcombo_web/dhxcombo_arrow_down.gif");
    background-repeat: no-repeat;
    background-position: 6px 3px;
}
.space {
    height: 1px;
}
.dhxform_obj_dhx_web div.dhxform_label{
    word-wrap: break-word;
    white-space: normal;
}
.fullWidth {
    width: 100%;
    height: 100%;
    overflow: hidden;
}