﻿@model MCH.Web.Models.Customs.CustomsDetailsViewModel

<div class="row">
    <div class="col-md-6">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-head">
                <h4 class="heading">Arrival Details:</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Carrier/Flight :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.CarrierFlight" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Arrival Airport :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.AirrivalAirport" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Arrival Date :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.ArrivalDate" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Terminal :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.AirportTerminal" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-head">
                <h4 class="heading">Customs Details:</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5>Status :</h5>
                        <div class="input-group" style="width:100%">
                            <input class="form-control" type="text" value="@Model.Status" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5>QTY:</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.QTY" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Entry Type :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.EntityType" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Entry No :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.EntityNo" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="tblCustomsHistory_@Model.TaskId" class="display responsive nowrap dynamicTable" cellspacing="0" width="100%"></table>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var appendCustomsHistoryFilter = function (baseData) {
            if (baseData) {
                var tmpTaskId = '@Model.TaskId';
                baseData.push({ "name": "TaskId", "value": tmpTaskId });
                baseData.push({ "name": "ShipmentId", "value": '@Model.ShipmentId' });
                baseData.push({ "name": "WayBillId", "value": '@Model.WayBillId' });
            }
            return baseData;
        }

        $("#tblCustomsHistory_@Model.TaskId").dataTable({
            "order": [[0, "DESC"]],
            "bJQueryUI": true,
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "language": {
                "emptyTable": "No records found."
            },
            "sAjaxSource": "@Url.Action("GetCustomsHistoryData", "Customs")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendCustomsHistoryFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0], "mData": "StatusTime", "sTitle": 'StatusTime', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        var n = /\/Date\((\-?\d+)\)\//i;
                        var tmpDate = data == "/Date(-62135568000000)/" ? null : n.test(data) ? new Date(parseInt(n.exec(data)[1], 10)) : data;
                        return tmpDate != null ? tmpDate.customFormat("#MM#/#DD#/#YYYY# #hh#:#mm##ampm#") : "";
                    }
                },
                {
                    "aTargets": [1], "mData": "HWB", "sTitle": 'HWB', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [2], "mData": "Status", "sTitle": 'Status', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [3], "mData": "Code", "sTitle": 'Code', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [4], "mData": "Description", "sTitle": 'Description', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [5], "mData": "Qty", "sTitle": 'Qty', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [6], "mData": "EntryType", "sTitle": 'Entry Type', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [7], "mData": "EntryNo", "sTitle": 'EntryNo', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [8], "mData": "Text", "sTitle": 'Text', "bSearchable": false, "bSortable": true
                }
            ]
        });
    });

</script>
