﻿<div style="padding-top:20px" class="container">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" id="sharedSecret" value="pi31415927" />
        </div>
        <div class="col-md-4">
            <a class="btn btn-info" id="getAuthenticationToken">Get Authentication Token</a> 
        </div>
        <div class="col-md-4">
            <span class="alert-info" id="authToken"></span>
        </div>
    </div>   
    <br />
    <div class="row" id="deviceContainer" style="display: none">
        <div class="col-md-2">
            Serial
            <input class="form-control" id="serial" value="6141186" />
        </div>
        <div class="col-md-2">
            Model
            <input class="form-control" id="model" value="632DV" />
        </div>
        <div class="col-md-2">
            Image count
            <input class="form-control" id="imageCount" value="2" placeholder="Images Count" />
        </div>
        <div class="col-md-2">
            Scan count
            <input class="form-control" id="scansCount" value="1" placeholder="Scan Count" />
        </div>
        <div class="col-md-2">
            Comments
            <input class="form-control" id="comments" value="Some Comment" />
        </div>
        <div class="col-md-2" style="margin-top:19px">
            <a class="btn btn-info" id="assignDevice">Assign Device</a>
        </div>        
    </div>           
    <br />
    <div class="row" style="display: none" id="enterItemIntoScannerContainer">
        <div class="col-md-3">
            Operator
            <input class="form-control" id="operatorIdInput" value="CMXSuper" />
        </div>
        <div class="col-md-2">
            <a class="btn btn-info" id="enterItemIntoScanner">Enter Item Into Scanner</a>
        </div>  
    </div>

    <br />
    
    <div class="row" style="display: none" id="enterItemIntoScannerResultContainer">
        <div class="col-md-3">
            <label for="operatorId">Operator</label>
            <span class="form-control" id="operatorId"/>
        </div>
        <div class="col-md-3">
            <label for="time">Time</label>
            <span class="form-control" id="time" />
        </div>
        <div class="col-md-3">
            <label for="referenceName">Reference Name</label>
            <span class="form-control" id="referenceName" />
        </div>
        <div class="col-md-3">
            <label for="referenceId">Reference</label>
            <span class="form-control" id="referenceId" />
        </div>
    </div>
     
    <br />

    <div class="row" style="display: none" id="metricsContainer">
        <div class="col-md-2">
            <a class="btn btn-info" id="getMetrics">Receive Data Metrics</a>            
        </div>
    </div>

    <br />

    <div class="row" style="display: none" id="uploadContainer">
        <div class="col-md-4">
            <input class="form-control" id="file" type="file" />
        </div>
        <div class="col-md-4">
            <a class="btn btn-info" id="uploadImage">Upload Image</a>
        </div>
    </div>

   
    

    @*<a id="getConfig">Get Config</a>
        <span id="config"></span>
        <br />*@
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#getAuthenticationToken').on('click', function () {
                $.ajax({
                    method: "POST",
                    url: baseUrl + "api/authorization/tokens",
                    headers: {
                        'Authorization': $('#sharedSecret').val()
                        },
                    success: function (data) {
                        $('#authToken').html(data.authorization);
                        $('#deviceContainer').show();
                    }
                });
            });

            $('#assignDevice').on('click', function () {
                console.log('sd');
                $.ajax({
                    method: "POST",
                    contentType: "application/json",
                    url: baseUrl + "api/devices",
                    data: JSON.stringify({ serial: $('#serial').val(), model: $('#model').val(), imageCount: $('#imageCount').val(), comments: $('#comments').val(), scanCount: $('#scansCount').val() }),
                    headers: {
                        'Authorization': 'simple ' + $('#authToken').html()
                    },
                    success: function (data) {
                        console.log(data);
                        $('#enterItemIntoScannerContainer').css('display', '');                                     
                    }
                });
            });

            $('#getConfig').on('click', function () {
                $.ajax({
                    method: "GET",                    
                    url: baseUrl + "api/configuration",
                    headers: {
                        'Authorization': 'simple ' + $('#authToken').html()
                    },
                    success: function (data) {
                        console.log(data);
                        //$('#enterItemIntoScanner').css('display', 'inline');
                    }
                });
            });

            $('#enterItemIntoScanner').on('click', function () {
                $.ajax({
                    method: "PUT",
                    contentType: "application/json",
                    url: baseUrl + "api/scans/TestScan",
                    data: JSON.stringify({ time: new Date().valueOf(), operatorId: $('#operatorIdInput').val() }),
                    headers: {
                        'Authorization': 'simple ' + $('#authToken').html()
                    },
                    success: function (data) {                        
                        $('#operatorId').html(data.operatorId);
                        $('#time').html(data.time);
                        $('#referenceName').html(data.reference.name);
                        $('#referenceId').html(data.reference.id);
                        $('#metricsContainer').show();
                        $('#enterItemIntoScannerResultContainer').show();
                    }
                });
            });

            $('#getMetrics').on('click', function () {
                $.ajax({
                    method: "POST",
                    contentType: "application/json",
                    url: baseUrl + "api/scans/TestScan",
                    data: JSON.stringify({
                        time: new Date().valueOf(),
                        reference: {
                            name: $('#referenceName').html(),
                            id: $('#referenceId').html()
                        },
                        clear: true,
                        operatorId: $('#operatorIdInput').val(),
                        comments: "Some Comment",
                        rectangles: [
                            [ [ [ 0, 0 ], [ 100, 100 ] ], [ [ 144, 233 ], [ 377, 610 ] ] ],
                            [ [ [ 123, 234 ], [ 345, 456] ] ]
                        ]
                    }),
                    headers: {
                        'Authorization': 'simple ' + $('#authToken').html()
                    },
                    success: function (data) {
                        console.log(data);
                        $('#uploadContainer').show();
                    }
                });
            });

            $('#uploadImage').on('click', function () {
                var file = $('#file')[0].files[0];
                var fr = new FileReader();
                console.log('uploading');
                fr.onload = function (d) {                    
                    $.ajax({
                        method: "PUT",
                        processData: false,
                        url: baseUrl + "api/scans/TestScan/images/0?referenceId=" + $('#referenceId').html(),
                        contentType: "image/png",
                        data: fr.result,
                        headers: {
                            'Authorization': 'simple ' + $('#authToken').html()
                        },
                        success: function (data) {
                            console.log(data);
                        }
                    });
                }

                fr.readAsArrayBuffer(file);
            });            
        });
    </script>
}
