﻿html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.country_info {
    float: left;
    padding-left: 10px;         
}

    .country_info .country_name {
        color: #5a7de5;
        font-size: 16px;
        font-weight: bold;
    }

.pin-header {
    cursor: pointer;
    font-weight: bold;
}

.pin-content {
    margin-top: 5px;
    font-size: 12px;
}

    .pin-content > div {
        margin-bottom: 1px;
    }

.dhxwin_text {
    padding-left:28px !important;
}

.label-bold .dhxform_label {
    font-weight: bold;
}

.label-big .dhxform_label {
    font-size: 18px !important;
}