﻿html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.country_info {
    float: left;
    padding-left: 10px;
}

    .country_info .country_name {
        color: #5a7de5;
        font-size: 16px;
        font-weight: bold;
    }

.pin-header {
    cursor: pointer;
    font-weight: bold;
}

.pin-content {
    margin-top: 5px;
    font-size: 12px;
}

    .pin-content > div {
        margin-bottom: 1px;
    }

.dhxwin_text {
    padding-left: 28px !important;
}

.label-bold .dhxform_label {
    font-weight: bold;
}

.req-asterisk .dhxform_label .dhxform_item_required {
    display: none;
}

.label-big .dhxform_label {
    font-size: 18px !important;
}

.label-normal > div {
    font-weight: normal !important;
}

.label-red > div {
    color: red !important;
}

.dhx_cell_acc.dhx_cell_closed > div:not(.dhx_cell_hdr) {
    visibility: hidden;
}

.div-hover:hover {
    background-color: #3da0e3;
}

.toolbar-search-input-wrapper {
    background-color: white;
}

    .toolbar-search-input-wrapper .up, .toolbar-search-input-wrapper .down {
        height: 24px;
        width: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        cursor: pointer;        
    }

        /*.toolbar-search-input-wrapper .up:hover, .toolbar-search-input-wrapper .down:hover {
            background-color: #3da0e3;
        }*/

    .toolbar-search-input-wrapper .up {
        background: url(imgs/dhxacc_skyblue/dhxacc_btns.gif) -14px 4px;
    }

    .toolbar-search-input-wrapper .down {
        background: url(imgs/dhxacc_skyblue/dhxacc_btns.gif) 0 4px;
    }

    .customFileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    display: flex;
    width: 100%;
}

    .customFileUpload:hover .customFileUploadBtn {
        background-color: #2a8ed2;
    }

    .customFileUpload input.customUploadText {
        width: calc(100% - 100px);
    }

    .customFileUpload input.customUpload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 100%;
    }
.dhtmlx-exportconfirmation {
    width: 350px;
}
    .dhtmlx-exportconfirmation .dhtmlx_popup_controls {
            display: inline-table;
    }
    .dhtmlx-exportconfirmation .dhtmlx_popup_controls .dhtmlx_popup_button{
        width: 170px;
        margin-top: 5px;
    }


.customToolbarInLayout .dhx_toolbar_dhx_web.dhxtoolbar_icons_18 {
    background-color: transparent;
}

.customToolbarInLayout .dhxtoolbar_btn_over,
.customToolbarInLayout .dhxtoolbar_btn_pres{
    background-color: #3da0e3 !important
}