.sortheader{
	text-decoration:none;
	color:Black;
	display:block;
}
#UpdateFields 
{
	border:solid 2px black;
	background-color:White;
	position:absolute;
	margin:auto;
	padding:1em;
	top:10em;
	margin:1.5em;
	float:left;
	width:95%;
}
.NewButtons1, FIELDSET#btns INPUT
{
	font-size:x-small;
	font-weight:bold;
	color:black;
	BORDER-RIGHT: solid 1px white; 
	BORDER-TOP: solid 1px gold; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=gold, endColorStr=white); 
	BORDER-LEFT:  solid 1px  gold; 
	BORDER-BOTTOM: solid 1px white;
	
}
Body
{

	COLOR: black; 
	FONT-SIZE: xx-small; 
	FONT-FAMILY: Verdana,Helvetica,sans-serif;
	scrollbar-3dlight-color:gold;
}

#PageHeading, .PageHeadingCustom
{
	COLOR: white; 
	BORDER-RIGHT: #ad7b00 1px solid; 
	BORDER-TOP: #FF9990 1px solid; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#FF0000, endColorStr=#FF9990); 
	BORDER-LEFT: #FF9990 1px solid; 
	BORDER-BOTTOM: #ad7b00 1px solid;
	FONT-WEIGHT: bold; 
	FONT-SIZE: small; 
	FONT-FAMILY: Verdana,Helvetica,sans-serif;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
	BACKGROUND-COLOR: #FF0000;		
	
}
.tdnvbg
{
	 
 background-image:url(header_bg_submenues.jpg);
 BORDER-BOTTOM: gold thin solid; 
 
}
.SimpleNavBG
{
 background-image:url(header_mid_bg_blue.jpg);
	
}

.tbllogin
{
	BORDER-RIGHT: gold thick solid; 
	BORDER-TOP: gold thick solid; 
	BORDER-LEFT: gold thick solid; 
	WIDTH: 434px; 
	BORDER-BOTTOM: gold thick solid; 
	HEIGHT: 279px;
/*	border-bottom:solid 1px black; */
	
}
.tblFooter
{
 background-image:url(header_mid_bg_blue.jpg);
}
.tdHeaderTop
{
 background-image:url(header_top1.jpg);
}
.tdhdrbgtime
{
	background-image:url(header_right_front.jpg);	
	 color:black;
	 width:100%
}
.tdPageHeadings
{
	color:White;
	background-color:Red;
	font-size:medium;
	
}
.tblFooterSummery
{

	BORDER-RIGHT: solid 1px black; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: solid 1px black; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: x-small; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: solid 1px  black; 
	COLOR: black; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM:  solid 1px black; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: gold;
	border:solid 1 #f5f5dc;
}
.BODY 
{
	scrollbar-3dlight-color:gold
	/*;
	scrollbar-arrow-color:red;
	scrollbar-face-color: ;
	scrollbar-base-color:gold;
	scrollbar-face-color:#FFCE00;
	scrollbar-highlight-color:#FFF790
	*/
}
.ScrollbarStyle 
{
	scrollbar-face-color: gold;
}
.framehdrTd
{
	BACKGROUND-POSITION-X: right; 
	BACKGROUND-IMAGE: url(small_header_bg.jpg); 
	BACKGROUND-REPEAT: repeat-y; 
	BACKGROUND-COLOR: #ffd700	
}
.tableborderStyle
{
	BORDER-RIGHT: gold 1px solid; 
	BORDER-TOP: gold 1px solid; 
	BORDER-LEFT: gold 1px solid; 
	BORDER-BOTTOM: gold 1px solid;
}
.floatingdivstyle
{
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	FONT-SIZE: x-small; 
	BORDER-LEFT: black 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: black 1px solid; 
	FONT-FAMILY: verdana; 
	POSITION: absolute; 
	BACKGROUND-COLOR: gold; 
	TEXT-ALIGN: center;
}
.Smallheadings
{
	COLOR: white; 
	BORDER-RIGHT: #ad7b00 1px solid; 
	BORDER-TOP: #FF9990 1px solid; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#FF0000, endColorStr=#FF9990); 
	BORDER-LEFT: #FF9990 1px solid; 
	BORDER-BOTTOM: #ad7b00 1px solid;
	
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: Verdana,Helvetica,sans-serif
}

.RollOverColor
{
	background-color:Red;
	color:White;
}
.RollOverColor2
{
	background-color:lightgrey;
	color:black;
}
.RollOUTColor
{
	background-color:;
	color: Black ;
}
.SimpleBgColor
{
	background-color: gold;
	color : red;
}
.SimpleBgColorLight
{
	background-color: #ffefd5;
	color : white;
}
.Colordef
{
	COLOR: black
}
.labelsHeadings
{
	color: Black;
}
.treeviewstyle
{
	
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	OVERFLOW: auto; 
	BORDER-LEFT: black 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: black 1px solid; 
	BACKGROUND-COLOR: gold;
	scrollbar-face-color: gold

}
.NewButtons	
{

	BORDER:1px solid #000000;
	BACKGROUND-IMAGE:url(../btnbgcolor.gif)
	
	/*	
	BORDER-RIGHT: #ad7b00 1px solid; 
	BORDER-TOP: #ffff52 1px solid; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#FFCE00, endColorStr=#FFF790); 
	BORDER-LEFT: #ffff52 1px solid; 
	BORDER-BOTTOM: #ad7b00 1px solid;
	FONT-WEIGHT: bolder; FONT-SIZE: xx-small; FONT-FAMILY: verdana; HEIGHT: 20px
*/
}	
.CallanderStyle
{
	background-color:White;
	border:solid 1 gold;
	color:Black;
	font-family:Verdana;
	font-size:x-small;
}
.caldayheaderStyle
{
	background-color:red;
	color:White;	
}
.calnextprevStyle
{
	color:Red;	
}
.SelectedDayStyle
{
	background-color:Red;
	color:White;	
}
.TitleStyle
{
	background-color:Gold;
	color:Red;
	font-size:10pt;
}
.toolbarStyle
{
	background-color:Gold;
	color:Red;
}
.weatherdays
{
	color:red;
	font-size:xx-small;
	
}
.WeatherHeading
{
	color:red;
	font-weight:bold;
	font-family:Verdana;
	font-size:x-small;
}
.WeatherTemp
{
	color:red;
	font-size:x-large;
	font-family:Verdana;
	
}
.WeatherTable
{
	border:solid 1 Gold;
	width:500px;
	background-color:white;
	font-family:Verdana;
	font-size:x-small;
	color:Red;
}
.colImg
{
	
	background-image:url(colexImages.gif);
	CURSOR: hand;
}
.expandImg
{
	background-image:url(colexImages.gif);
	CURSOR: hand;
}
.DataTableHeader , .DataTableHeader a, .DataTableHeader a:visited, .DataTableHeader a:hover{
	background-color: #336699;
} 
.dotnetdatagridheader
{
	
}

.InfraGridHeader
{
	/*background-color:Gold;
	color:Red;
*/
	BORDER-RIGHT: #ffff52 1px solid; 
	BORDER-TOP: #ad7b00 1px solid; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#FFF790, endColorStr=#FFCE00); 
	BORDER-LEFT: #ffff52 1px solid; 
	BORDER-BOTTOM: #ad7b00 1px solid 
}
.HistoryTable
{
	border:solid 1 Gold;
	background-color:white;
	font-family:Verdana;
	font-size:x-small;
	color:Red;
	border-color:gold;
}
.HistoryCell
{
	TEXT-TRANSFORM: uppercase;
	white-space: nowrap;
}
.Grid
{
	font-size:x-small ;
	border:solid 1px black;
	padding:0px;
	margin:0px;
}
.Grid TH
{
	color:black;
	BORDER-RIGHT: #FFCE00 1px solid; 
	BORDER-TOP: #FF006bb5 1px solid; 
	FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#FFCE00, endColorStr=#FFF790); 
	BORDER-LEFT: #FF006bb5 1px solid; 
	BORDER-BOTTOM: #FFCE00 1px solid ;		
}
.Grid TD
{
	border:solid 1 whitesmoke;
}
	.opaque { FILTER: alpha(opacity=25); opacity: 0.25 }
	.icontd { BORDER-TOP: whitesmoke 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px }
	.expstyle { BACKGROUND-IMAGE: url(../gridbg.jpg); COLOR: black }
	.textboxstyle { BORDER-RIGHT: gold 1px solid; BORDER-TOP: gold 1px solid; FONT-SIZE: xx-small; BORDER-LEFT: gold 1px solid; WIDTH: 100px; BORDER-BOTTOM: gold 1px solid; FONT-FAMILY: verdana }
	.hypst { CURSOR: hand; COLOR: blue; TEXT-DECORATION: underline }
	.windowHeader { BORDER-RIGHT: #ad7b00 1px solid; BORDER-TOP: #ffff52 1px solid; FILTER: progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#FFCE00, endColorStr=#FFF790); BORDER-LEFT: #ffff52 1px solid; BORDER-BOTTOM: #ad7b00 1px solid }
	.windowHeaderText { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana,Helvetica,sans-serif }
	.windowText { FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana,Helvetica,sans-serif }
	.gridHeader { FONT-SIZE:xx-small;BORDER-RIGHT: #ffff52 1px solid; BORDER-TOP: #ad7b00 1px solid; FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#FFF790, endColorStr=#FFCE00); BORDER-LEFT: #ffff52 1px solid; BORDER-BOTTOM: #ad7b00 1px solid }
	.gridFooter { FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=whitesmoke, endColorStr=lightgrey) }
	.makelink { CURSOR: hand }
	.gridHeaderHover { BORDER-RIGHT: #ffff52 1px solid; BORDER-TOP: #ad7b00 1px solid; FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#FFCE00, endColorStr=#FFF790); BORDER-LEFT: #ffff52 1px solid; BORDER-BOTTOM: #ad7b00 1px solid }
	.headerItem { FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #3e74b3; FONT-FAMILY: Verdana,Helvetica,sans-serif }
	.windowBody { BORDER-RIGHT: #848484 1px inset; BORDER-TOP: #848484 1px inset; BORDER-LEFT: #848484 1px inset; BORDER-BOTTOM: #848484 1px inset }
	.windowShadow { FILTER: alpha(opacity=35, style=0); BACKGROUND-COLOR: #aaaaaa; moz-opacity: 10% }
	.tabImg { BORDER-RIGHT: #ad7b00 0px inset; BACKGROUND-IMAGE: url(../dhl_bgTab.gif); BORDER-BOTTOM: #ad7b00 0px inset }
	.tabOver { BORDER-RIGHT: #ad7b00 1px inset; BACKGROUND-IMAGE: url(../tabselected.gif); BORDER-BOTTOM: #ad7b00 1px inset }
	.tabSelected { BORDER-RIGHT: #ad7b00 1px inset; BACKGROUND-IMAGE: url(../tabselected.gif); BORDER-BOTTOM: #ad7b00 1px inset }
	.LoaderStyle { FONT-WEIGHT: bold; FONT-SIZE: xx-small; WIDTH: 100%; COLOR: lightgrey; FONT-FAMILY: verdana; HEIGHT: 90%; BACKGROUND-COLOR: white; TEXT-ALIGN: center }
	.tabSelectedcontent { FILTER: progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#FFFFFF, endColorStr=#FCFCFC) }
	.FreezedTimer { FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: gray; BORDER-TOP-STYLE: inset; FONT-FAMILY: verdana; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset; BACKGROUND-COLOR: peachpuff; BORDER-BOTTOM-STYLE: inset }
	.UnFreesedTimer { FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: black; BORDER-TOP-STYLE: outset; FONT-FAMILY: verdana; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: peachpuff; BORDER-BOTTOM-STYLE: outset }
	
	