﻿@using System.Configuration
@{
    ViewBag.Title = "Cargo Screening";
}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")

    <script>@Html.Raw("window.SignalRUrl='" + System.Configuration.ConfigurationManager.AppSettings["SignalRUrl"] + "/signalr" + "'")</script>
    <script src="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["SignalRUrl"] + "/signalr/hubs")"></script>

    <script>
        var _dashboardModule,
            _screeningTransactionsModule,
            _screeningDevicesModule,
            _screenersModule,
            _facilitiesModule,
            _dashboardMapModule,
            _transactionDetailsWindow,
            _shipmentDetailsWindow;

        var csnUserRole = parseInt(helpers._getCookie('selectedRole'));
        console.log(csnUserRole);

        window.signalingAdapter = new CsnSignaling.SignalAdapter();

        var a = mainLayout.cells('a');
        a.setWidth('330');
        var accordion = a.attachAccordion();

        accordion.attachEvent('onActive', function (name) {
            if (name == 'mapItemsContainer') {
                _dashboardMapModule.refreshMapLocations();
                _dashboardMapModule.show();
            } else if (name == 'screeningDevicesContainer') {
                _screeningDevicesModule.show();
            } else if (name == 'screenersContainer') {
                _screenersModule.show();
            } else if (name == 'facilitiesContainer') {
                _facilitiesModule.show();
            } else if (name == 'dashboardAccordionContainer') {
                _dashboardModule.show();
            } else {
                _screeningTransactionsModule.show();
            }
        });

        var b = mainLayout.cells('b');

        switch (csnUserRole) {
            case 16:
                _dashboardModule = new dashboardModule(b, accordion);
                _screeningTransactionsModule = new screeningTransactionsModule(b, accordion,
                    function (rowId) {
                        _transactionDetailsWindow.show(rowId);
                    },
                    function (shipment) {
                        _shipmentDetailsWindow.show(shipment);
                    }, csnUserRole);
                _screeningDevicesModule = new screeningDevicesModule(b, accordion, csnUserRole);
                _screenersModule = new screenerModule(b, accordion);
                _facilitiesModule = new facilitieModule(b, accordion);
                _dashboardMapModule = new dashboardMapModule(b, accordion);
                _dashboardModule.show();
                break;
            case 15:
                _dashboardModule = new dashboardModule(b, accordion);
                _screeningTransactionsModule = new screeningTransactionsModule(b, accordion,
                    function (rowId) {
                        _transactionDetailsWindow.show(rowId);
                    },
                    function (shipment) {
                        _shipmentDetailsWindow.show(shipment);
                    }, csnUserRole);
                _screeningDevicesModule = new screeningDevicesModule(b, accordion, csnUserRole);
                _screenersModule = new screenerModule(b, accordion);
                _dashboardModule.show();
                break;
            default:
                _screeningTransactionsModule = new screeningTransactionsModule(b, accordion,
               function (rowId) {
                   _transactionDetailsWindow.show(rowId);
               },
               function (shipment) {
                   _shipmentDetailsWindow.show(shipment);
               }, csnUserRole);
                _screeningTransactionsModule.show();
                break;
        }

        var statusBar = mainLayout.attachStatusBar();
        statusBar.setText('ALL RIGHTS RESERVED TO CARGOMATRIX INC. 1999-2015 - MCH V1.0');

        function showGridTab(id) {
            accordion.cells('searchPanel').open();
            _screeningTransactionsModule.show();
            _screeningTransactionsModule.resetControls();
            _screeningTransactionsModule.setLocation(id);
            _screeningTransactionsModule.filter();
        }

        _transactionDetailsWindow = new transactionDetailsWindow('@Html.Raw(ConfigurationManager.AppSettings["ImagePath"])');
        _shipmentDetailsWindow = new shipmentDetailsWindow('@Html.Raw(ConfigurationManager.AppSettings["ImagePath"])');
    </script>
}
