.tdnvbg
{
 background-image:url(header_bg_submenues.jpg);
 BORDER-BOTTOM: DodgerBlue thin solid; 
}
.SimpleNavBG
{
 background-image:url(header_mid_bg_blue.jpg);
 color:White;
 font-weight:bold;
	
}
.tbllogin
{
	BORDER-RIGHT:  solid  thick DodgerBlue; 
	BORDER-TOP:  solid  thick DodgerBlue; 
	BORDER-LEFT:  solid  thick DodgerBlue; 
	WIDTH: 434px; 
	BORDER-BOTTOM:  solid  thick DodgerBlue; 
	HEIGHT: 279px
}
.tblFooter
{
 /*background-image:url(header_mid_bg_blue.jpg);*/
 background-image:url();
 background-color: darkblue;
 color:White;
}
.tdHeaderTop
{
 background-image:url(header_top1.jpg);
}
.tdhdrbgtime
{
	background-image:url(header_right_front.jpg);	
	color:White;
	font-weight:bold;
}
.tdPageHeadings
{
	color:White;
	background-color:darkblue;
	font-size:medium;
	
}
.tblFooterSummery
{
	BORDER-RIGHT: solid 1px darkblue; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: solid 1px darkblue; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: x-small; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: solid 1px  darkblue; 
	COLOR: white; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM:  solid 1px darkblue; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: darkblue;
	 border: solid 1 white;
}
.BODY {
	scrollbar-face-color: dodgerblue;
	scrollbar-darkshadow-color: orange;
}
.ScrollbarStyle 
{
	scrollbar-face-color: dodgerblue;
}
.framehdrTd
{
	BACKGROUND-POSITION-X: right; 
	BACKGROUND-IMAGE: url(small_header_bg.jpg); 
	BACKGROUND-REPEAT: repeat-y; 
	BACKGROUND-COLOR: dodgerblue;	
}
.tableborderStyle
{
	BORDER-RIGHT: dodgerblue 1px solid; 
	BORDER-TOP: dodgerblue 1px solid; 
	BORDER-LEFT: dodgerblue 1px solid; 
	BORDER-BOTTOM: dodgerblue 1px solid;
}
.floatingdivstyle
{
	BORDER-RIGHT: darkblue 1px solid; 
	BORDER-TOP: darkblue 1px solid; 
	FONT-SIZE: x-small; 
	BORDER-LEFT: darkblue 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: darkblue 1px solid; 
	FONT-FAMILY: verdana; 
	POSITION: absolute; 
	BACKGROUND-COLOR: dodgerblue; 
	TEXT-ALIGN: center;
}
.Smallheadings
{
	BORDER-RIGHT: darkblue 1px solid; 
	BORDER-TOP: darkblue 1px solid; 
	FONT-SIZE: medium; 
	BORDER-LEFT: darkblue 1px solid; 
	COLOR: white; 
	BORDER-BOTTOM: darkblue 1px solid; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: darkblue;
}
.RollOverColor
{
	background-color: Navy;
	color:White;
}
.RollOUTColor
{
	background-color:;
	color: Black ;
}
.SimpleBgColor
{
	background-color: darkblue;
	color : White;
	
}
.labelsHeadings
{
	color:White;	
}
.treeviewstyle
{
	BORDER-RIGHT: black 1px inset; 
	BORDER-TOP: black 1px inset; 
	OVERFLOW: auto; 
	BORDER-LEFT: black 1px inset; 
	WIDTH: 100%; 
	BORDER-BOTTOM: black 1px inset; 
	BACKGROUND-COLOR: darkblue;
	scrollbar-face-color: darkblue;
	color:White;
}
.NewButtons	
{
	BORDER:1px solid white;
	TEXT-DECORATION:none;
	background-color:DodgerBlue;
	BACKGROUND-IMAGE: url();
	color:White;
}	
.CallanderStyle
{
	background-color:White;
	border:solid 1 darkblue;
	color:Black;
	font-family:Verdana;
	font-size:XX-small;
}
.caldayheaderStyle
{
	background-color:dodgerblue;
	color:White;	
}
.calnextprevStyle
{
	color:white;	
	background-color:Navy;
}
.SelectedDayStyle
{
	background-color:Navy;
	color:White;	
}
.TitleStyle
{
	background-color:Navy;
	color:White;
	font-size:10pt;
}
.toolbarStyle
{
	background-color:Navy;
	color:White;
}
.weatherdays
{
	
	font-size:xx-small;
	
}
.WeatherHeading
{
	
	font-weight:bold;
	font-family:Verdana;
	font-size:x-small;
}
.WeatherTemp
{
	
	font-size:x-large;
	font-family:Verdana;
	
}
.WeatherTable
{
	border:solid 1 Navy;
	width:500px;
	background-color:white;
	font-family:Verdana;
	font-size:x-small;
	color:black;
}
.colImg
{
	
	background-image:url(colexImages.gif);
	CURSOR: hand;
}
.expandImg
{
	background-image:url(colexImages.gif);
	CURSOR: hand;
}
.InfraGridHeader
{
	background-color:Navy;
	color:White;
}