/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Professional 
License: content of this file is covered by DHTMLX Commercial or Enterprise license. Usage without proper license is prohibited. To obtain it contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhxcarousel_base_dhx_web {
	background-color: white;
	position: relative;
	cursor: default;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area {
	position: relative;
	overflow: hidden;
	perspective: 900px;
	-webkit-perspective: 900;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel {
	position: absolute;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
	-webkit-transform-style: preserve-3d;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cont_carousel {
	position: absolute;
	border: 1px solid #c7c7c7;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cont_carousel.dhx_cell_cont_no_borders {
	border-width: 0px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 1;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxcarousel_web/dhxcarousel_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_def,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
	padding: 0px 0px 1px 0px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhtmlxMenu_dhx_web_Middle {
	padding: 0px 2px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_def,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_no_borders {
	position: relative;
	overflow: hidden;
	padding: 0px 0px 1px 0px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhxrb_with_tabbar.dhxtabbar_base_dhx_web,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_no_borders div.dhxrb_with_tabbar.dhxtabbar_base_dhx_web {
	border-width: 0px;
	width: auto;
	margin-left: -4px;
	margin-top: -4px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_web.dhxrb_without_tabbar,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_no_borders div.dhtmlxribbon_dhx_web.dhxrb_without_tabbar {
	border-width: 0px;
	margin-left: -4px;
	margin-top: -4px;
	width: auto;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	background-color: #f4f4f4;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 24px;
	line-height: 25px;
	border-bottom: 1px solid #c7c7c7;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	white-space: nowrap;
	overflow: hidden;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls {
	position: absolute;
	width: 100%;
	height: 32px;
	bottom: 0px;
	left: 0px;
	z-index: 3;
	overflow: visible;
	border-top: 1px solid white;
	background-color: #f4f4f4;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn {
	position: absolute;
	bottom: 0px;
	width: 38px;
	height: 100%;
	overflow: hidden;
	line-height: 31px;
	font-family: Arial;
	font-size: 14px;
	color: #3da0e3;
	background-color: #f4f4f4;
	border: 0px solid white;
	text-align: center;
	z-index: 2;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev:hover,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next:hover {
	background-color: #c3e1f6;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev:active,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next:active {
	background-color: #acd7f3;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis {
	left: 0px;
	border-right-width: 1px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	right: 0px;
	border-left-width: 1px;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	color: #cecece;
	z-index: 1;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars {
	position: absolute;
	top: 11px;
	text-align: center;
	font-size: 1px;
	line-height: 34px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar {
	float: left;
	position: relative;
	margin: 0 2px;
	width: 10px;
	height: 10px;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
	background-color: white;
	font-size: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar div.dhx_carousel_barcore {
	display: none;
}
.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar.dhx_carousel_baractv div.dhx_carousel_barcore {
	position: absolute;
	display: block;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	width: 4px;
	height: 4px;
	top: 2px;
	left: 2px;
	border: 1px solid #3da0e3;
	border-radius: 12px;
	background-color: #3da0e3;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_hdr {
	position: relative;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_ftr {
	position: absolute;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 3;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.dhxcarousel_base_dhx_web div.dhxcelltop_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxcarousel_web/dhxcarousel_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_menu {
	position: relative;
	overflow: hidden;
	border-bottom: 9px solid #ffffff;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_toolbar {
	position: relative;
	background-color: #ffffff;
	padding-bottom: 9px;
	overflow: hidden;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_ribbon {
	position: relative;
	border-bottom: 9px solid #ffffff;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_ribbon div.dhtmlxribbon_dhx_web.dhxrb_without_tabbar {
	width: auto;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_statusbar {
	position: absolute;
	overflow: hidden;
	background-color: #ffffff;
}
.dhxcarousel_base_dhx_web div.dhxcelltop_statusbar div.dhxcont_statusbar {
	position: relative;
	background-color: #f4f4f4;
	margin-top: 9px;
	border: 1px solid #c7c7c7;
	padding: 3px 4px;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
}
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_web {
	background-color: #f4f4f4;
}
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls {
	border-bottom: 1px solid white;
}
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis {
	border-left-width: 1px;
}
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_web div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	border-right-width: 1px;
}
.dhxcarousel_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
