﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")    
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>    
</head>
<body>

    @RenderBody()  
    @System.Web.Optimization.Scripts.Render("~/bundles/dhtmlx")
    @System.Web.Optimization.Scripts.Render("~/bundles/custom") 
    
    <script>@Html.Raw("window.WebApiUrl='" + System.Configuration.ConfigurationManager.AppSettings["WebApiUrl"] + "'")</script>
     
    @RenderSection("scripts", required: false)
</body>
</html>
