﻿body {
    font-size: 12px;
    height: 100%;
    overflow: hidden;
}

span.loading-bar {
    display: inline-block;
    background: url('../../images/ajax-loader.gif');
    height: 10px;
    width: 120px;
}

.cm-head-split {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #dddddd;
}


/*Hide jquery DataTable double sort icon*/
.DataTables_sort_icon.css_right.ui-icon.ui-icon-triangle-1-s {
    display: none;
}

.DataTables_sort_icon.css_right.ui-icon.ui-icon-carat-2-n-s {
    display: none;
}

.DataTables_sort_icon.css_right.ui-icon.ui-icon-triangle-1-n {
    display: none;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none !important;
}*/


/*Override jquery ui header for the datatable*/
.ui-widget-header {
    border: none;
    background: none;
    color: none;
    font-weight: normal;
}

.widget.widget-heading-simple > .widget-head {
    background-color: #daedff;
    color: black !important;
}

    .widget.widget-heading-simple > .widget-head .heading {
        margin-left: 10px;
        color: black;
        font-size: 14px !important;
    }

    .widget.widget-heading-simple > .widget-head .collapse-toggle {
        color:#494c4f;
        background-color:#ddd
    }

[data-toggle=collapse-widget] .collapse-toggle:before {
    color: white !important;
}



.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
}

.cm-datatable-filter-action label {
    margin-left: 10px;
}

.cm-datatable-action {
    text-align: center;
}

.form-control-empty {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
}

textarea.form-control {
    height: 84px;
}

.thin-form-gorup {
    margin-bottom: 5px;
}

.widget-list-content {
    height: 300px;
    overflow-y: auto;
}

input.cm-input {
    padding: 2px, 3px;
}

input.cm-datepicker {
    padding: 2px, 3px;
}

input.cm-timepicker {
    padding: 2px, 3px;
}

input.cm-datetimepicker {
    padding: 2px, 3px;
}


/*bootbox modal width for loading remote content*/
.cm-modal-remote > .modal-dialog {
    width: 90% !important;
}

.cm-modal-document > .modal-dialog {
     width: 90% !important;
}

.cm-modal-remote-form > .modal-dialog {
    width: 40% !important;
}

.cm-details-lable {
    float: left;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}

i.cm-button-icon {
    margin-right: 4px;
}

.bootbox-body .row {
    margin-bottom: 20px;
}

div.cm-signature {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 5px;
}

.cm-img-signature {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 5px;
    height: 100px;
    width: 350px;
}

.cm-img-profile {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 2px;
    height: 100px;
    width: 100px;
}

.modal .modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.tab-pane .row {
    margin-bottom: 0px;
}

input[type=text].form-control, input[type=password].form-control, select.form-control, textarea.form-control {
    color: black;
}


.cm-tab-item-dynamic {
    border-right: 1px solid #e5e5e5 !important;
    width: auto;
}

.cm-dg-missing {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.tab-content {
    overflow: visible;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
    margin-top: -16px;
    border-color: #ccc;
}

.cm-right-content {
    padding: 5px 5px 5px 5px;
    height: 100%;
}

    .cm-right-content div.box-generic {
        padding: 5px;
        height: 100%;
    }

html.csstransitions.csstransforms3d .panel-3d .cm-3d-panel {
    z-index: 1 !important;
}

    html.csstransitions.csstransforms3d .panel-3d .cm-3d-panel .panel-flip {
        z-index: 1 !important;
    }

.btn-group button {
    margin-right: 3px;
}

button, span, label, h5, h4 {
    font-size: 12px !important;
}

.cm-form-label {
    margin: 0px;
    height: 30px;
    padding: 5px;
}

.form-horizontal > div.row {
    margin-bottom: 3px;
}

.ui-autocomplete {
    max-height: 400px;
    background-color: white;
    overflow: auto;
}

.modal-header {
    background-color: #4e72c2 !important;
    font-size: 20px !important;
    color: white !important;
}

    .modal-header > button {
        font-size: 20px !important;
        color: white !important;
    }


.cm-bordered-box {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.cm-label-footer {
    margin-right: 5px;
    width: 100px;
    padding: 5px;
}


.cm-selectable-list {
}

    .cm-selectable-list ul li:hover {
        background-color: #AEC0E8;
    }

    .cm-selectable-list ul li.active {
        background-color: #355499;
    }

    .cm-selectable-list ul li {
        float: none;
        display: block;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
    }

        .cm-selectable-list ul li a {
            width: auto;
            height: 30px;
            display: block;
            padding: 5px 15px;
            position: relative;
            overflow: hidden;
            text-decoration: none;
        }

        .cm-selectable-list ul li.active a {
            color: white;
            width: auto;
            height: 30px;
            display: block;
            padding: 5px 15px;
            position: relative;
            overflow: hidden;
            text-decoration: none;
        }


.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu {
    background-color:#efefef;
}





.cm-dashpanel-1 {
    background-color: #355499 !important;
}
.cm-dashpanel-2 {
    background-color: #b200ff !important;
}
.cm-dashpanel-3 {
    background-color: #1a4022 !important;
}
.cm-dashpanel-4 {
    background-color: #751533 !important;
}
.cm-dashpanel-5 {
    background-color: #20514e !important;
}
.cm-dashpanel-6 {
    background-color: #45172f !important;
}
.cm-dashpanel-7 {
    background-color: #202157 !important;
}
.cm-dashpanel-8 {
    background-color: #72450c !important;
}
.cm-dashpanel-9 {
    background-color: #510606 !important;
}
.cm-dashpanel-10 {
    background-color: #8f1a0a !important;
}
.cm-dashpanel-11 {
    background-color: #494c4f !important;
}
.cm-dashpanel-12 {
    background-color: #21493a !important;
}