﻿.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background: #cb4040;
}

.ms-container .custom-header {
    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-repeat: repeat-x;
    border: 1px solid #e5e5e5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

    .ms-container .custom-header:not(.custom-footer) {
        border-bottom: none;
    }

    .ms-container .custom-header.custom-footer {
        border-top: none;
    }

img.flag {
    height: 10px;
    padding-right: 10px;
    width: 15px;
    z-index: 99999;
}

.select2-results .select2-highlighted {
    background: #cb4040;
}

.select2-container {
    background: #f4f4f4;
    border-color: #fff;
}

    .select2-container .select2-choice {
        background: #fff;
        border-color: #efefef;
        line-height: 1.428571429;
        height: 34px;
        padding: 6px 12px;
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

.select2-container-multi .select2-choices {
    background: #fff;
    border-color: #e5e5e5;
}

.select2-container .select2-choice div {
    background: #f4f4f4;
    border-color: #fff;
    border-radius: 0 0 0 0;
    moz-border-radius: 0 0 0 0;
    webkit-border-radius: 0 0 0 0;
}

.select2-search input {
    background: #fff;
}

.select2-drop {
    background: #f4f4f4;
    border-color: #fff;
    box-shadow: none !important;
    moz-box-shadow: none !important;
    webkit-box-shadow: none !important;
    z-index: 99999;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border-color: #d8d8d8;
    margin: 5px 0 3px 5px;
}
