﻿.tabsbar.tabsbar-2 {
    border: none;
}

    .tabsbar.tabsbar-2 ul li {
        border: solid 1px #ddd;
        border-radius: 5px 10px 0px 0px;
    }

    .tabsbar.tabsbar-2 a {
        text-transform: uppercase;
    }

    .tabsbar.tabsbar-2 ul li.active {
        background: #458ae0;
    }

.tab-content {
    box-shadow: 5px 4px 2px -2px #ddd;
}
