﻿.tickets li label {
    margin-left: 5px;
}

    .tickets li label i {
        font-size: 80%;
    }

.tickets li .media-heading {
    font-size: 14px;
    font-weight: 700;
    color: #4e72c2;
}

.tickets li .media-body .media {
    margin-top: 5px;
    padding: 10px;
    border-top: 1px solid #efefef;
}

.tickets li .empty-photo {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #dbdbdb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .tickets li .empty-photo i {
        color: #8f8f8f;
        line-height: 50px;
    }

    .tickets li .empty-photo.agent {
        background: #4e72c2;
        width: 20px;
        height: 20px;
    }

        .tickets li .empty-photo.agent i {
            line-height: 20px;
            color: #fff;
            font-size: 15px;
        }

.tickets li a.user-ticket-action {
    color: #fff;
}

    .tickets li a.user-ticket-action.primary {
        background: #4e72c2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .tickets li a.user-ticket-action i {
        font-size: 80%;
    }

.tickets:hover {
    background: #f7f7f7;
}

    .tickets:hover .media-body .media {
        background: #fff;
    }

.checkbox-custom input[type=checkbox] {
    position: relative;
    left: -99999px;
}

.checkbox-custom i {
    margin-left: -20px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    font-size: 1.333em;
    color: #ddd;
    display: inline-block;
}

    .checkbox-custom i.checked {
        margin-right: 4px;
        color: #4e72c2;
        margin-left: -19px;
    }

        .checkbox-custom i.checked:before {
            content: '\f046';
        }

    .checkbox-custom i.disabled {
        color: #eee;
    }

.checkbox-single {
    padding: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
}

    .checkbox-single .checkbox-custom {
        width: 20px;
    }

        .checkbox-single .checkbox-custom i {
            margin-left: 1px;
        }


