/*
Product Name: dhtmlxSuite 
Version: 4.2 
Edition: Professional 
License: content of this file is covered by DHTMLX Commercial or Enterprise license. Usage without proper license is prohibited. To obtain it contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxlayout_base_dhx_skyblue {
	background-color: #ebebeb;
	position: relative;
	cursor: default;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont {
	position: absolute;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout {
	position: absolute;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_cont_layout {
	position: absolute;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-bottom: 1px solid #a4bed4;
	border-top: 0px solid #ffffff;
	overflow: hidden;
	z-index: 0;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_cont_layout.dhx_cell_cont_no_borders {
	border-width: 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_cont_layout,
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_cont_layout {
	display: none;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr {
	position: relative;
	height: 27px;
	line-height: 26px;
	overflow: hidden;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: #34404b;
	font-weight: bold;
	border: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	cursor: default;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr.dhx_cell_hdr_hidden {
	height: 0px;
	line-height: 0px;
	border-bottom-width: 0px;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr.dhx_cell_hdr_hidden_no_borders {
	height: 0px;
	line-height: 0px;
	border-width: 0px;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr div.dhx_cell_hdr_text {
	position: relative;
	margin: 0px 26px 0px 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow {
	position: absolute;
	right: 4px;
	top: 6px;
	width: 16px;
	height: 16px;
	background-image: url('../imgs/dhxlayout_skyblue/dhxlayout_cell_btns.gif');
	background-repeat: no-repeat;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_va {
	background-position: -16px 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_vb {
	background-position: -48px 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_ha {
	background-position: -32px 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_hb {
	background-position: 0px 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr {
	height: 18px;
	line-height: 17px;
	color: #3a4854;
	font-weight: normal;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_ha {
	background-position: 0px -5px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_hb {
	background-position: -32px -4px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr {
	width: 18px;
	background: -moz-linear-gradient(left,#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(left,#e2efff,#d3e7ff);
	background: -o-linear-gradient(left,#e2efff,#d3e7ff);
	background: -ms-linear-gradient(left,#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text {
	position: absolute;
	left: 3px;
	bottom: 0px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform-origin: left center;
	color: #3a4854;
	font-weight: normal;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie6 {
	left: -5px;
	line-height: 17px;
	padding-bottom: 10px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie6 span {
	float: left;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11='6.123031769111886e-17', M12='1', M21='-1', M22='6.123031769111886e-17', sizingMethod='auto expand');
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie7 {
	left: -5px;
	line-height: 17px;
	padding-bottom: 10px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie7 span {
	float: left;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11='6.123031769111886e-17', M12='1', M21='-1', M22='6.123031769111886e-17', sizingMethod='auto expand');
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie8 {
	left: -5px;
	line-height: 17px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie8 span {
	float: left;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11='6.123031769111886e-17', M12='1', M21='-1', M22='6.123031769111886e-17', sizingMethod='auto expand');
	margin-bottom: 95%;
	padding-right: 8px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie9 {
	left: 0px;
	line-height: 17px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie9 span {
	float: left;
	filter: none;
	margin-bottom: 95%;
	padding-right: 8px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_chrome {
	left: 5px;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: left center;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_va {
	background-position: -45px 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_vb {
	background-position: -13px 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhxlayout_sep {
	position: absolute;
	background-color: #ebebeb;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-touch-action: none;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhxlayout_sep.dhxlayout_sep_resize_v {
	cursor: w-resize;
	background-image: url('../imgs/dhxlayout_skyblue/dhxlayout_sep_v.gif');
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhxlayout_sep.dhxlayout_sep_resize_h {
	cursor: n-resize;
	background-image: url('../imgs/dhxlayout_skyblue/dhxlayout_sep_h.gif');
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhxlayout_sep.dhxlayout_sep_resize_actv {
	background-color: #dedede;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhxlayout_resize_area {
	position: absolute;
	background-color: #a4bed4;
	opacity: 0.15;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
	z-index: 1;
	border: 2px dashed black;
	cursor: inherit;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhxlayout_resize_sep {
	position: absolute;
	background-color: #a4bed4;
	overflow: hidden;
	display: block;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index: 2;
	cursor: inherit;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	border-width: 0px 1px 1px 1px;
	border-color: #a4bed4;
	border-style: solid;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_menu_def div.dhtmlxMenu_dhx_skyblue_Middle {
	padding: 0px 2px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_menu_no_borders div.dhtmlxMenu_dhx_skyblue_Middle {
	padding: 0px 2px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_toolbar_def {
	position: relative;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_skyblue {
	border-top-width: 0px;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_ribbon_def div.dhxrb_with_tabbar.dhxtabbar_base_dhx_skyblue {
	margin-top: -1px;
	width: auto;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	border-top-width: 0px;
	width: auto;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #ddecff;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 21px;
	line-height: 21px;
	border-bottom: 1px solid #a4bed4;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	white-space: nowrap;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 5;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	border: 1px solid #a4bed4;
	background-position: center 55%;
	background-image: url('../imgs/dhxlayout_skyblue/dhxlayout_cell_progress.gif');
	background-repeat: no-repeat;
	cursor: progress;
	z-index: 6;
}
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_statusbar_def,
.dhxlayout_base_dhx_skyblue .dhxlayout_cont div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_statusbar_def {
	display: none;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 3;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxlayout_skyblue/dhxlayout_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_hdr {
	position: relative;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_ftr {
	position: absolute;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_menu {
	position: relative;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_toolbar {
	position: relative;
	background-color: #ebebeb;
	padding-bottom: 4px;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_ribbon {
	padding-bottom: 4px;
	position: relative;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_ribbon div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	width: auto;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_statusbar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #ebebeb;
	overflow: hidden;
}
.dhxlayout_base_dhx_skyblue div.dhxcelltop_statusbar div.dhxcont_statusbar {
	position: relative;
	margin-top: 4px;
	border: 1px solid #a4bed4;
	background-color: #ddecff;
	padding: 7px 6px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
body.dhxlayout_resize_v * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: w-resize !important;
}
body.dhxlayout_resize_h * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: n-resize !important;
}
div.dhxlayout_sep_sw_dhx_skyblue {
	position: absolute;
	left: 0px;
	top: -100px;
	width: 5px;
	height: 1px;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.dhxlayout_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
