/*
Product Name: dhtmlxSuite 
Version: 4.2 
Edition: Professional 
License: content of this file is covered by DHTMLX Commercial or Enterprise license. Usage without proper license is prohibited. To obtain it contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhxlayout_base_dhx_terrace {
	position: relative;
	cursor: default;
}
.dhxlayout_base_dhx_terrace div.dhxlayout_cont {
	position: absolute;
	*overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhxlayout_sep {
	position: absolute;
	background-color: #ffffff;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-touch-action: none;
}
div.dhxlayout_sep_sw_dhx_terrace {
	position: absolute;
	left: 0px;
	top: -100px;
	width: 10px;
	height: 1px;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhxlayout_sep.dhxlayout_sep_resize_v {
	cursor: w-resize;
	background-image: url('../imgs/dhxlayout_terrace/dhxlayout_sep_v.gif');
}
.dhxlayout_base_dhx_terrace div.dhxlayout_sep.dhxlayout_sep_resize_h {
	cursor: n-resize;
	background-image: url('../imgs/dhxlayout_terrace/dhxlayout_sep_h.gif');
}
.dhxlayout_base_dhx_terrace div.dhxlayout_sep.dhxlayout_sep_resize_actv {
	background-color: #f2f2f2;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout {
	position: absolute;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_cont_layout {
	position: absolute;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 0px solid white;
	overflow: hidden;
	z-index: 0;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_cont_layout.dhx_cell_cont_no_borders {
	border: 0px solid white !important;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_cont_layout,
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_cont_layout {
	display: none;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr {
	position: relative;
	height: 32px;
	line-height: 31px;
	overflow: hidden;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	cursor: default;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr.dhx_cell_hdr_hidden {
	height: 0px;
	line-height: 0px;
	border-bottom-width: 0px;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr.dhx_cell_hdr_hidden_no_borders {
	height: 0px;
	line-height: 0px;
	border-width: 0px;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr div.dhx_cell_hdr_text {
	position: relative;
	margin: 0px 26px 0px 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr {
	height: 18px;
	line-height: 17px;
	color: #333333;
	font-weight: normal;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr {
	width: 18px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text {
	position: absolute;
	left: 3px;
	bottom: 0px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform-origin: left center;
	font-weight: normal;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie8 {
	left: -5px;
	line-height: 17px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie8 span {
	float: left;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11='6.123031769111886e-17', M12='1', M21='-1', M22='6.123031769111886e-17', sizingMethod='auto expand');
	margin-bottom: 95%;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie9 {
	left: 0px;
	line-height: 17px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie9 span {
	float: left;
	filter: none;
	margin-bottom: 95%;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie7 {
	left: -6px;
	line-height: 17px;
	padding-bottom: 10px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie7 span {
	float: left;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11='6.123031769111886e-17', M12='1', M21='-1', M22='6.123031769111886e-17', sizingMethod='auto expand');
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie6 {
	left: -6px;
	line-height: 17px;
	padding-bottom: 10px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_ie6 span {
	float: left;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11='6.123031769111886e-17', M12='1', M21='-1', M22='6.123031769111886e-17', sizingMethod='auto expand');
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_text_chrome {
	left: 3px;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: left center;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow {
	position: absolute;
	right: 4px;
	top: 9px;
	width: 16px;
	height: 16px;
	background-image: url('../imgs/dhxlayout_terrace/dhxlayout_cell_btns.gif');
	background-repeat: no-repeat;
	cursor: pointer;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_va {
	background-position: -16px 0px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_vb {
	background-position: -48px 0px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_ha {
	background-position: -32px 0px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_hb {
	background-position: 0px 0px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_ha {
	background-position: 0px -5px;
	top: 6px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_hb {
	background-position: -32px -4px;
	top: 6px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_va {
	background-position: -45px 0px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_vb {
	background-position: -13px 0px;
}
body.dhxlayout_resize_v * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: w-resize !important;
}
body.dhxlayout_resize_h * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: n-resize !important;
}
.dhxlayout_base_dhx_terrace div.dhxlayout_resize_area {
	position: absolute;
	background-color: #cccccc;
	opacity: 0.15;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
	z-index: 1;
	border: 2px dashed black;
	cursor: inherit;
}
.dhxlayout_base_dhx_terrace div.dhxlayout_resize_sep {
	position: absolute;
	background-color: #cccccc;
	overflow: hidden;
	display: block;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index: 2;
	cursor: inherit;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_statusbar_def,
.dhxlayout_base_dhx_terrace div.dhx_cell_layout.dhxlayout_collapsed_v div.dhx_cell_statusbar_def {
	display: none;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	padding: 6px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_menu_def div.dhtmlxMenu_dhx_terrace_Middle,
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_menu_no_borders div.dhtmlxMenu_dhx_terrace_Middle {
	padding: 0px 2px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_toolbar_def {
	position: relative;
	overflow: hidden;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 6px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_terrace {
	border-top: 0px solid white;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_ribbon_def div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace {
	margin-top: -1px;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	border-top: 0px solid white;
	width: auto;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	background-color: #f5f5f5;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	white-space: nowrap;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	z-index: 1;
}
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxlayout_terrace/dhxlayout_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 3;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxlayout_terrace/dhxlayout_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_hdr {
	position: relative;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_ftr {
	position: absolute;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_menu {
	position: relative;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_toolbar {
	position: relative;
	padding-bottom: 10px;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_toolbar div.dhx_toolbar_dhx_terrace {
	padding-left: 0px;
	padding-right: 0px;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_ribbon {
	padding-bottom: 10px;
	position: relative;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_ribbon div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	width: auto;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_statusbar {
	position: absolute;
	background-color: #ffffff;
	overflow: hidden;
}
.dhxlayout_base_dhx_terrace div.dhxcelltop_statusbar div.dhxcont_statusbar {
	position: relative;
	margin-top: 10px;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	padding: 3px 4px;
}
.dhxlayout_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
