﻿
.text-green {
    color: darkgreen;
}

.border-block {
    border-color: darkgreen;
    border-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
}

.form-block {
    display: inline-block;
    vertical-align: middle;
    min-height: 0;
    position: relative;
    width: inherit;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border-block .form-block {
    padding-bottom: 5px;
}

.row {
    display: block;
}

[class*="col-"] {
    display: inline-block;
    float: left;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.col-12-offset {
    margin-left: 100%;
}

.col-11-offset {
    margin-left: 91.66666667%;
}

.col-10-offset {
    margin-left: 83.33333333%;
}

.col-9-offset {
    margin-left: 75%;
}

.col-8-offset {
    margin-left: 66.66666667%;
}

.col-7-offset {
    margin-left: 58.33333333%;
}

.col-6-offset {
    margin-left: 50%;
}

.col-5-offset {
    margin-left: 41.66666667%;
}

.col-4-offset {
    margin-left: 33.33333333%;
}

.col-3-offset {
    margin-left: 25%;
}

.col-2-offset {
    margin-left: 16.66666667%;
}

.col-1-offset {
    margin-left: 8.33333333%;
}

.col-0-offset {
    margin-left: 0;
}

.img-block {
    max-height: 98px;
    width: 100%;
}

.attach-block {
    height: 45px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*.image-container {
    height: 90%;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 5px;
    cursor: pointer;
}*/
.image-container {
    /*overflow: hidden;*/
}

    .image-container img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }

#sliderObj {
    height: 30px;
}

.dhxwin_text {
    padding-left: 25px !important;
}

.btn-container {
    min-height: 50px;
    height: 10%;
}

.img-contact {
    height: 35px;
}


input[name='attachments'], input[name='contacts'] {
    float: left;
}

div.block_dhxform_item_label_left {
    clear: none !important;
}

.dhxform_block {
    width: 100%;
    clear: none !important;
}

.btn-container div.dhxform_base {
    width: auto !important;
}

.photo-viewer {
    margin-top: 20px;
}

    .photo-viewer div.dhxform_base,
    .map-container div.dhxform_base {
        width: 100%;
    }

#map_canvas {
    width: 780px;
    height: 700px;
}

#image-map {
    height: 290px;
}

/*.dhxform_obj_dhx_web {
    overflow: initial !important;
}*/

input[type='button'] {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    position: relative;
    float: left;
    margin-top: 2px;
    padding: 3px 5px;
    line-height: normal;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    height: 22px;
    overflow: hidden;
}

    input[type='button'].dhx_skyblue {
        border: 1px solid #a4bed4;
        border-radius: 2px;
        padding: 1px 2px;
        background-color: #f1f7ff;
        background: linear-gradient(#f1f7ff,#e2efff);
        background: -webkit-linear-gradient(#f1f7ff,#e2efff);
    }

    input[type='button'].dhx_web {
        background-color: #3da0e3;
        position: relative;
        padding: 0 5px;
        height: 26px;
        line-height: normal;
        cursor: default;
        overflow: hidden;
        font-family: Tahoma,Helvetica;
        font-size: 12px;
        color: #fff;
    }

    input[type='button'].dhx_terrace {
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        position: relative;
        float: left;
        margin-top: 2px;
        padding: 3px 5px;
        line-height: normal;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: default;
        height: 22px;
        overflow: hidden;
    }

#header {
    min-height: 50px;
}

img[name='logo'] {
    height: 50px;
}

div[name='product-name'] {
    line-height: 50px;
}

#user-name {
    line-height: 50px;
    /*padding-right: 20px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#drop-menu {
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
}

img[name='user-logo'] {
    padding-right: 5px;
}

.btn-navigation {
    width: 103px;
}

.block-right .dhxform_btn {
    float: right !important;
}

.rotate-0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-360 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul:after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
    }

.menu {
    line-height: 30px;
}

ul.menu > li {
    width: 100%;
    float: left;
    position: relative;
}

    ul.menu > li > a {
        display: block;
        padding: 10px;
        color: black;
        text-decoration: none;
    }

        ul.menu > li > a:hover {
            background-color: white;
        }

ul.submenu {
    display: none;
    position: absolute;
    width: 160px;
    top: 50px;
    background-color: white;
    border: 1px solid white;
    z-index: 1;
    float: right;
    right: 0;
    position: absolute;
    text-align: left;
}

    ul.submenu > li {
        display: block;
        line-height: 30px;
        padding: 4px;
    }

        ul.submenu > li > a {
            display: block;
            color: black;
            background-color: white;
            text-decoration: none;
        }


ul.menu > li:hover > ul.submenu {
    display: block;
}

ul[name='annotations'] {
    max-height: 28px;
    overflow: auto;
}

#profile-img, #snapshot-img {
    width: 80px;
    height: 80px;
}

#carouselObj {
    position: relative;
    border: 1px solid #a4bed4;
}

td img {
    height: 100px;
    width: 100%;
}

#Path {
    height: auto;
}


td {
    word-wrap: break-word;
}

#multi-annotations, #trans-annotations {
    width: 200px;
    height: 60px;
    overflow-y: scroll;
    border: 1px solid #d6d6d6;
}

#multi-annotations {
    margin-left: 120px;
}

#trans-annotations {
    margin-left: 200px;
}

    #multi-annotations li, #trans-annotations li {
        display: inline-block;
        width: 100%;
    }

        #trans-annotations li input[type='checkbox'] {
            float: left;
        }


.customToolbarInLayout .dhx_toolbar_dhx_web.dhxtoolbar_icons_18 {
    background-color: transparent;
}

.customToolbarInLayout .dhxtoolbar_btn_over,
.customToolbarInLayout .dhxtoolbar_btn_pres{
    background-color: #3da0e3 !important
}