/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Professional 
License: content of this file is covered by DHTMLX Commercial or Enterprise license. Usage without proper license is prohibited. To obtain it contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxcarousel_base_dhx_skyblue {
	background-color: white;
	position: relative;
	cursor: default;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area {
	position: relative;
	overflow: hidden;
	perspective: 900px;
	-webkit-perspective: 900;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel {
	position: absolute;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
	-webkit-transform-style: preserve-3d;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cont_carousel {
	position: absolute;
	border: 1px solid #a4bed4;
	overflow: hidden;
	z-index: 0;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cont_carousel.dhx_cell_cont_no_borders {
	border-width: 0px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	border-width: 0px 1px 1px 1px;
	border-color: #a4bed4;
	border-style: solid;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_def div.dhtmlxMenu_dhx_skyblue_Middle {
	padding: 0px 2px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_no_borders div.dhtmlxMenu_dhx_skyblue_Middle {
	padding: 0px 2px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_def {
	position: relative;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_skyblue {
	border-top-width: 0px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhxrb_with_tabbar.dhxtabbar_base_dhx_skyblue {
	margin-top: -1px;
	width: auto;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	border-top-width: 0px;
	width: auto;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #ddecff;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 21px;
	line-height: 21px;
	border-bottom: 1px solid #a4bed4;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	white-space: nowrap;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 5;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	border: 1px solid #a4bed4;
	background-position: center 55%;
	background-image: url('../imgs/dhxcarousel_skyblue/dhxcarousel_cell_progress.gif');
	background-repeat: no-repeat;
	cursor: progress;
	z-index: 6;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_def {
	border-top-width: 1px;
	border-bottom-width: 0px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_skyblue {
	border-top-width: 1px;
	border-bottom-width: 0px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	border-top-width: 1px;
	border-bottom-width: 0px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	left: 0px;
	z-index: 3;
	overflow: visible;
	border-top: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn {
	position: absolute;
	bottom: 0px;
	width: 38px;
	height: 100%;
	overflow: hidden;
	font-family: Arial;
	font-size: 14px;
	color: #5f8db3;
	border: 0px solid #a4bed4;
	text-align: center;
	line-height: 29px;
	z-index: 2;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev:hover,
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next:hover {
	background-color: #f1f7ff;
	background: linear-gradient(#f1f7ff,#e2efff);
	background: -webkit-linear-gradient(#f1f7ff,#e2efff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f1f7ff,endColorStr=#e2efff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev:active,
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next:active {
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 5px rgba(127,127,127,0.15) inset;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis {
	left: 0px;
	border-right-width: 1px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	right: 0px;
	border-left-width: 1px;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	color: #999999;
	background: #f2f2f2;
	z-index: 1;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars {
	position: absolute;
	top: 9px;
	text-align: center;
	font-size: 1px;
	line-height: 32px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar {
	float: left;
	position: relative;
	margin: 0 2px;
	width: 12px;
	height: 12px;
	border: 1px solid #5f8db3;
	border-radius: 12px;
	background-color: white;
	font-size: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar div.dhx_carousel_barcore {
	display: none;
}
.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar.dhx_carousel_baractv div.dhx_carousel_barcore {
	position: absolute;
	display: block;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	width: 6px;
	height: 6px;
	top: 2px;
	left: 2px;
	border: 1px solid #5f8db3;
	border-radius: 12px;
	background-color: #5f8db3;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 3;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxcarousel_skyblue/dhxcarousel_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_hdr {
	position: relative;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_ftr {
	position: absolute;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_menu {
	position: relative;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_toolbar {
	position: relative;
	background-color: #ebebeb;
	padding-bottom: 4px;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_ribbon {
	padding-bottom: 4px;
	position: relative;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_ribbon div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	width: auto;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_statusbar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #ebebeb;
	overflow: hidden;
}
.dhxcarousel_base_dhx_skyblue div.dhxcelltop_statusbar div.dhxcont_statusbar {
	position: relative;
	margin-top: 4px;
	border: 1px solid #a4bed4;
	background-color: #ddecff;
	padding: 7px 6px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
div.dhx_popup_dhx_skyblue td.dhx_popup_td div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls,
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls {
	border-bottom: 1px solid #a4bed4;
}
div.dhx_popup_dhx_skyblue td.dhx_popup_td div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
div.dhx_popup_dhx_skyblue td.dhx_popup_td div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis {
	border-left-width: 1px;
}
div.dhx_popup_dhx_skyblue td.dhx_popup_td div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
div.dhx_popup_dhx_skyblue td.dhx_popup_td div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis,
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_skyblue div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	border-right-width: 1px;
}
.dhxcarousel_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
