﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script>
        if (document.cookie === '') {
            document.location.href = window.location.host + ((window.location.port == "80" || window.location.port == "") ? ":80" : "") + '/Account/Login';
        }
    </script>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    <script>@Html.Raw("window.WebApiUrl='" + System.Configuration.ConfigurationManager.AppSettings["WebApiUrl"] + "'")</script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<body>
    <div id="applicationsContainer" tabindex="-1" style="display: none;">
        <div>
            <div id="nameContainer"><span></span></div>
        </div>
        <div id="appGroupsContainer"></div>
    </div>

    <div id="userSettings" tabindex="-1" style="display: none;">
        <div>My Account</div>
        <div>Settings</div>
        <div id="logout">Log out</div>
    </div>
    
    <div style="width: 100%; height: 30px;">
        <ul class="navlist" style="float:left;">
            <li><a id="menuOpener"></a></li>
            <li><a id="home" class="item">@ViewBag.ApplicationName</a></li>            
        </ul>
        <ul class="navlist" style="float:right;">            
            <li><a id="help" class="item">?</a></li>
            <li><a id="userAccount" class="item"></a></li>
        </ul>
    </div>
            
    <div id="dhtmlxMainLayout" style="height: calc(100% - 30px); width: 100%;"></div>

    @RenderBody()

    <script>
        @Html.Raw("window.baseUrl='" + Url.Content("~/") + "'")
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/dhtmlx")
    @System.Web.Optimization.Scripts.Render("~/bundles/imageCapturer")
    @System.Web.Optimization.Scripts.Render("~/bundles/custom")

    <script>
        helpers.getDataFromExternalResource("/Common/GetApplications", {}, function (data) {
            console.log(data);
            data.forEach(function (group) {                
                var groupContainer = $('<div class="application-group" data-group-id="' + group.Id + '"> '
                                            + '<div class="application-group-header"> ' + group.Name + ' </div>'
                                            + '<div class="application-group-body"></div>'
                                     + '</div>');

                var body = groupContainer.find('.application-group-body');

                group.Apps.forEach(function (app) {
                    var application = $('<div data-application-id="' + app.Id + '" style="background-image: url(' + app.AppIconBase64 + ');"> <span>' + app.Name + '</span> </div>');
                    application.on('click', function (path) {
                        return function () {
                            window.location = path + "/Account/LoginSession?Session=" + helpers._getCookie('Session');
                        }
                    }(app.Path));

                    body.append(application);
                });

                $("#appGroupsContainer").append(groupContainer);
            });            
        });

        $("#menuOpener").on('click', function () {
            var applicationsContainer = $("#applicationsContainer");
            applicationsContainer.show();
            applicationsContainer.focus();
        });

        $("#applicationsContainer, #userSettings").on("blur", function () {
            $(this).hide();
        });

        $("#userAccount").on("click", function () {            
            var userAccount = $(this);
            var userSettings = $("#userSettings");
            userSettings.css({ top: userAccount.position().top + 35, left: userAccount.position().left });
            userSettings.show().focus();            
        });

        $("#userAccount").text(helpers._getCookie('Firstname') + ' ' + helpers._getCookie('Lastname'));
        $("#nameContainer span").text('Welcome ' + helpers._getCookie('Firstname'));

        $("#logout").on("click", function () {
            dhx4.ajax.post('../Account/LogOff', function (a) {
                helpers._deleteAuthCookie();
                document.location.reload(true);
            });
        });
    </script>

    <script>
        dhtmlx.image_path = baseUrl + 'Content/imgs/';
        dhtmlx.tree_image_path = baseUrl + 'Content/imgs/dhxtree_web/';
        var mainLayout = new dhtmlXLayoutObject(document.getElementById('dhtmlxMainLayout'), '@ViewBag.LayoutType', 'dhx_web');
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>

