﻿@{
    ViewBag.Title = "Home Page";
}


@section scripts
{   
    <script>
        var cell = $('.dhx_cell_cont_layout');

        var getWarehouseDischargesButton = $('<input type="button" value="Get Warehouse Discharges"/>');
        var discharges = $('<ul></ul>');

        cell.append(getWarehouseDischargesButton);
        cell.append(discharges);

        getWarehouseDischargesButton.on('click', function () {
            discharges.empty();
            helpers.getDataFromExternalResource('/CargoDischarge/GetWarehouseDischarges', {}, function (data) {                
                $(data).each(function (index, item) {
                    var listItem = $('<a style="cursor: pointer; display: bolock; padding: 7px 10px 7px 10px" id="' + item.Id + '">' + item.DriverName + ' ' + (item.PiecesCount == 0 ? 0 : Math.round(item.ScannedCount * 100 / item.PiecesCount)) + '% </a>');
                    discharges.append(listItem);
                    listItem.on('click', function () {
                        helpers.getDataFromExternalResource('/CargoDischarge/GetWarehouseDischargeTasks', { dischargeId: $(this).attr('id') }, function (data) {
                            console.log(data);
                        });
                    });
                });
            });
        });

        //var getForkliftItemsButton = $('<input type="button" value="Forklift Items"/>');
        //var forkliftItems = $('<ul></ul>');
        //cell.append(getForkliftItemsButton);
        //cell.append(forkliftItems);
        
        //getForkliftItemsButton.on('click', function () {
        //    forkliftItems.empty();

        //    helpers.getDataFromExternalResource('/CargoDischarge/GetForkliftItems', {}, function (data) {
        //        $(data.Data).each(function (index, item) {
        //            var listItem = $('<a style="cursor: pointer; display: bolock; padding: 7px 10px 7px 10px" id="' + item.Id + '">' + item.DriverName + ' ' + (item.PiecesCount == 0 ? 0 : Math.round(item.ScannedCount * 100 / item.PiecesCount)) + '% </a>')
        //            discharges.append(listItem);
        //            listItem.on('click', function () {
        //                helpers.getDataFromExternalResource('/CargoDischarge/GetWarehouseDischargeTasks', { dischargeId: $(this).attr('id') }, function (data) {
        //                    console.log(data);
        //                });
        //            });
        //        });
        //    });

        //});

    </script>
}