﻿html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.country_info {
    float: left;
    padding-left: 10px;         
}

    .country_info .country_name {
        color: #5a7de5;
        font-size: 16px;
        font-weight: bold;
    }

.pin-header {
    cursor: pointer;
    font-weight: bold;
}

.pin-content {
    margin-top: 5px;
    font-size: 12px;
}

    .pin-content > div {
        margin-bottom: 1px;
    }

.dhxwin_text {
    padding-left:28px !important;
}

.detailsContainer .dhxform_txt_label2 {
    font-weight: normal !important;
}

.control-right-label {    
    padding-top: 28px !important;
    padding-left: 5px !important;
}
    .control-right-label > .dhxform_txt_label2 {
        font-weight: normal !important;
    }

    .control-right-label.disabled > .dhxform_txt_label2 {
        color: #999 !important;
    }

.label-bold .dhxform_label {
    font-weight: bold;
}

.req-asterisk .dhxform_label .dhxform_item_required {
    display: none;
}

.req-asterisk.validate_error div div[class*='dhxform_item_label'] div {
    color: red;
}

.label-big .dhxform_label {
    font-size: 18px !important;
}

.label-normal > div {
    font-weight: normal !important;
}

.label-red > div{
    color: red !important;
}

.div-hover:hover {
    background-color:#3da0e3
}

.label-text-ellipsis div {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-auto-width{
    width: 100%
}

.deleteIco {
    float: right;
    height: 16px;
    width: 16px;
    background-image: url('imgs/delete16.png');
}

    .deleteIco:hover {
        background-image: url('imgs/deleteHover16.png');
    }

.customFileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    display: flex;
    width: 100%;
}
    .customFileUpload:hover .customFileUploadBtn{
        background-color: #2a8ed2;
    }
    .customFileUpload input.customUploadText {
        width: calc(100% - 100px);
    }
    .customFileUpload input.customUpload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 100%;
    }

.dhx_cell_acc.dhx_cell_closed > div:not(.dhx_cell_hdr) {
    visibility: hidden;
}

.keep-label-enabled.dhxform_item_label_left.disabled .dhxform_label{
    color: #000
}

