.tdnvbg
{
	 
 background-image:url(header_bg_submenues.jpg);
 BORDER-BOTTOM: #006bb5 thin solid; 
 
}
.SimpleNavBG
{
	color:White;
	background-color:#006bb5;
	
}
.tbllogin
{
	BORDER-RIGHT: #006bb5 thick solid; 
	BORDER-TOP: #006bb5 thick solid; 
	BORDER-LEFT: #006bb5 thick solid; 
	WIDTH: 434px; 
	BORDER-BOTTOM: #006bb5 thick solid; 
	HEIGHT: 279px
}
.tblFooter
{
	
	background-image:url(header_mid_bg_blue.jpg);
}
.tdHeaderTop
{
 background-image:url(header_top1.jpg);
}
.tdhdrbgtime
{
	background-image:url(header_right_front.jpg);	
	 color:black;
	 width:100%
}
.tdPageHeadings
{
	color:White;
	background-color:#006bb5;
	font-size:medium;
	
}
.tblFooterSummery
{

	BORDER-RIGHT: solid 1px black; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: solid 1px black; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: x-small; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: solid 1px  black; 
	COLOR: White; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM:  solid 1px black; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #006bb5;
	border: solid 1 #f5f5dc;
}
.BODY {
	scrollbar-face-color: #006bb5;
	scrollbar-darkshadow-color: #a4d5f7;
}
.ScrollbarStyle 
{
	scrollbar-face-color: #006bb5;
}
.framehdrTd
{
	BACKGROUND-POSITION-X: right; 
	BACKGROUND-IMAGE: url(small_header_bg.jpg); 
	BACKGROUND-REPEAT: repeat-y; 
	BACKGROUND-COLOR: #c6e7de	
}
.tableborderStyle
{
	BORDER-RIGHT: #006bb5 1px solid; 
	BORDER-TOP: #006bb5 1px solid; 
	BORDER-LEFT: #006bb5 1px solid; 
	BORDER-BOTTOM: #006bb5 1px solid;
}
.floatingdivstyle
{
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	FONT-SIZE: x-small; 
	BORDER-LEFT: black 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: black 1px solid; 
	FONT-FAMILY: verdana; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #006bb5; 
	TEXT-ALIGN: center;
}
.Smallheadings
{
	
	BORDER-TOP: black 1px solid; 
	FONT-SIZE: medium; 
	
	COLOR: white; 
	BORDER-BOTTOM: black 1px solid; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #006bb5;
}
.RollOverColor
{
	background-color:#006bb5;
	color:White;
}
.RollOUTColor
{
	background-color:;
	color: Black ;
}
.SimpleBgColor
{
	background-color: #006bb5;
	color : White;
}
.labelsHeadings
{
	color: white;
}
.treeviewstyle
{
	
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	OVERFLOW: auto; 
	BORDER-LEFT: black 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: black 1px solid; 
	BACKGROUND-COLOR: #006bb5;
	scrollbar-face-color: #006bb5;

}
.NewButtons	
{
	BORDER:1px solid #000000;
	color:White;
	BACKGROUND-IMAGE:url(btnbgcolor.gif)
}	
.CallanderStyle
{
	background-color:White;
	border:solid 1 #006bb5;
	color:Black;
	font-family:Verdana;
	font-size:x-small;
}
.caldayheaderStyle
{
	background-color:#006bb5;
	color:White;	
}
.calnextprevStyle
{
	color:white;	
	background-color:#006bb5;
}
.SelectedDayStyle
{
	background-color:#c6e7de;
	color:White;	
}
.TitleStyle
{
	background-color:#006bb5;
	color:#a4d5f7;
	font-size:10pt;
}
.toolbarStyle
{
	background-color:#006bb5;
	color:#a4d5f7;
}
.weatherdays
{
	color:black;
	font-size:xx-small;
	
}
.WeatherHeading
{
	color:black;
	font-weight:bold;
	font-family:Verdana;
	font-size:x-small;
}
.WeatherTemp
{
	color:black;
	font-size:x-large;
	font-family:Verdana;
	
}
.WeatherTable
{
	border:solid 1 #006bb5;
	width:100%;
	background-color:white;
	font-family:Verdana;
	font-size:x-small;
	color:black;
}
.colImg
{
	
	background-image:url(colexImages.gif);
	CURSOR: hand;
}
.expandImg
{
	background-image:url(colexImages.gif);
	CURSOR: hand;
}
.InfraGridHeader
{
	background-color:#006bb5;
	color:White;
}
.islandStyle1
{
	background-image:url(btnbgcolor.gif);	
}