/*
Product Name: dhtmlxSuite 
Version: 4.2 
Edition: Professional 
License: content of this file is covered by DHTMLX Commercial or Enterprise license. Usage without proper license is prohibited. To obtain it contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

div.gridbox {
	overflow: hidden;
	text-align: left;
}
.dhx_sub_row {
	background-color: #ffffff;
}
div.gridbox table.obj {
	height: 1px;
}
div.gridbox table.hdr td {
	line-height: normal;
	border: 1px solid;
	border-color: #ffffff Gray Gray #ffffff;
	text-align: center;
	margin: 0px;
	padding: 5px 0px 4px 0px;
	font-weight: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	empty-cells: show;
}
div.gridbox table.hdr td div.hdrcell {
	overflow: hidden;
}
div.gridbox table.obj td {
	border: 1px solid;
	border-color: #ffffff Gray Gray #ffffff;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
	empty-cells: show;
	white-space: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.gridbox table.obj th,
div.gridbox table.hdr th {
	padding: 0px;
	margin: 0px;
}
div.gridbox table.row20px tr  td {
	height: 20px;
	white-space: nowrap;
	padding: 0px;
}
div.gridbox .objbox {
	background-color: #ffffff;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
div.gridbox table.obj td span.space,
div.gridbox table.obj td img.space {
	width: 18px;
}
div.gridbox table.obj td.editable {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}
div.gridbox table.obj td.group_row {
	vertical-align: middle;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
	height: 30px;
	border: 0px;
	border-bottom: 2px solid navy;
}
.dragSpanDiv {
	font-size: 12px;
	border: 1px gray solid;
	background-color: #ffffff;
	z-index: 999;
}
.dhx_combo_select {
	border: 1px solid;
	border-color: black silver silver black;
	background-color: #ffffff;
	overflow: auto;
	cursor: default;
	position: absolute;
	height: auto;
	z-index: 600;
}
.dhx_combo_edit {
	width: 100%;
	border: 0px;
	padding: 0px;
	padding-right: 1px !ie;
	margin: 0px;
	overflow: hidden;
}
.dhx_textarea {
	border: 1px solid;
	border-color: black silver silver black;
	position: absolute;
	height: 100px;
	z-index: 600;
}
.dhx_clist {
	background-color: #ffffff;
	border: 1px solid black;
	padding: 2px 2px 2px 2px;
	z-index: 300;
}
.gridDragLine {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: black;
	overflow: hidden;
}
div.pagingBlock .pagingCurrentPage {
	font-weight: bold;
	cursor: default;
}
div.pagingBlock .pagingPage {
	cursor: pointer;
	text-decoration: underline;
}
div.pagingBlock a {
	text-decoration: none;
	padding-right: 2px;
	color: black;
	cursor: pointer;
}
div.pagingBlock a.dhx_not_active {
	text-decoration: none;
	cursor: default;
}
.toolbar_select {
	font-size: 10px;
}
.dhtmlxGrid_selection {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	background-color: yellow;
	border: 1px dotted black;
}
div.gridbox div.ftr {
	position: absolute;
	left: 0px;
	bottom: 1px;
	width: 100%;
	overflow: hidden;
}
div.gridbox div.ftr td {
	padding: 0px;
	padding-left: 10px;
	padding-right: 5px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #ffffcc;
	font-style: italic;
	overflow: hidden;
}
div.gridbox table.hdr td.columnTargetR div.hdrcell {
	border-right: 3px double #FF6600;
	border-left: 3px solid #D4D0C8;
}
div.gridbox table.hdr td.columnTargetL div.hdrcell {
	border-right: 3px solid #D4D0C8;
	border-left: 3px double #FF6600;
}
.dhx_dragColDiv {
	background-color: #D4D0C8;
	border: 1px solid;
	border-color: #ffffff Gray Gray #ffffff;
	text-align: center;
	margin: 0px;
	padding: 5px 20px 5px 20px;
	font-weight: normal;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
.dhtmlx_live_validation_error {
	background-color: #FFE0E0 !important;
}
.dhtmlx_validation_error {
	border-bottom: 2px solid red !important;
}
.dhx_header_cmenu {
	background-color: #ffffff;
	border: 2px outset silver;
	z-index: 2;
}
.dhx_header_cmenu_item {
	white-space: nowrap;
}
div.gridbox td.filter input,
div.gridbox td.filter select {
	width: 90%;
	font-size: 8pt;
	font-family: Tahoma;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}
div.gridbox_dhx_terrace.gridbox .xhdr {
	background-color: #ffffff;
}
div.gridbox_dhx_terrace.gridbox table.hdr tr {
	background-color: #f5f5f5;
}
div.gridbox_dhx_terrace.gridbox .ftr tr {
	background-color: #f5f5f5;
}
div.gridbox_dhx_terrace.gridbox table.obj,
.dhx_combo_select,
.gridbox_dhx_skyblue.gridbox
.dhx_combo_edit,
.gridbox_dhx_skyblue.gridbox .dhx_textarea,
dhx_dragColDiv,
div.gridbox div.ftr td,
div.pagingBlock,
span.recordsInfoBlock {
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td {
	border-color: #cccccc;
	border-width: 0px 0px 1px 0px;
	padding-right: 20px;
	padding-left: 20px;
}
div.gridbox_dhx_terrace.gridbox .xhdr {
	border-bottom: 1px solid #cccccc;
	background-color: #f5f5f5;
}
div.gridbox_dhx_terrace.gridbox table.hdr td div.hdrcell {
	width: auto;
	padding-left: 20px;
	line-height: 36px;
	text-transform: uppercase;
	width: 100% !ie;
}
div.gridbox_dhx_terrace.gridbox .ftr table td {
	width: auto;
	background-color: #ffffff;
	border-width: 1px 0px 0px 0px;
	font-style: normal;
	color: #333;
	border-color: #cccccc;
	padding-left: 20px;
	line-height: 41px;
	width: 100% !ie;
}
div.gridbox_dhx_terrace.gridbox table.hdr td {
	border: 1px solid #cccccc;
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #f5f5f5;
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #333333;
	vertical-align: top;
	text-align: left;
	position: relative;
}
div.gridbox_dhx_terrace.gridbox {
	border: 1px solid #cccccc;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr td {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 32px;
	line-height: 32px;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td.editable {
	padding-left: 20px;
	padding-right: 0px;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td.editable div.treegrid_cell {
	padding: 1px 4px;
}
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected {
	background-color: #fff3a1;
}
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected td {
	background-color: #fff3a1;
	color: black;
}
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr.rowselected td {
	background-color: #fff3a1;
	color: black;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td.cellselected {
	background-color: #fff3a1;
	color: black;
}
div.gridbox_dhx_terrace.gridbox .odd_dhx_terrace {
	background-color: #f7f7f7;
}
.gridbox_dhx_terrace.gridbox .dhx_combo_edit {
	font-family: Arial, Helvetica;
	font-size: 13px;
	line-height: 32px;
}
.dhx_combo_select,
.dhx_textarea {
	margin-left: 20px;
	line-height: 20px;
	font-family: Arial, Helvetica;
	font-size: 13px;
}
.gridbox_dhx_terrace.gridbox .dhx_combo_edit {
	padding: 1px 0px 1px 1px;
}
.gridbox_dhx_terrace.gridbox .dhx_sub_row {
	background-color: transparent;
}
.gridbox_dhx_terrace.gridbox table.hdr  td.filter {
	padding-left: 20px;
	line-height: 41px;
	height: 30px;
}
div.gridbox_dhx_terrace.gridbox td.filter input,
div.gridbox_dhx_terrace.gridbox td.filter select {
	font-size: 13px !important;
	font-family: Arial, Helvetica !important;
	height: 22px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background: #ffffff;
	box-shadow: none;
}
.gridbox_dhx_terrace.gridbox .dhx_combo_box.dhx_terrace {
	height: 30px !important;
	margin-left: -20px;
}
.dhx_header_cmenu {
	background-color: #ffffff;
	border: 2px outset silver;
	z-index: 2;
}
.dhx_header_cmenu_item {
	white-space: nowrap;
}
.dhx_pbox {
	margin-top: 3px;
	border: 1px solid #D4D0C8;
	border-top: 0px;
	font-size: 10px;
}
.dhx_pline {
	background-color: white;
	margin: -15px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	float: left;
}
.dhx_page,
.dhx_pager_info {
	margin: 3px;
	text-align: center;
	font-family: tahoma;
	font-size: 12px;
	float: left;
	cursor: pointer;
	color: black;
	background-color: gray;
	padding: 1px;
}
.dhx_pager_info {
	white-space: nowrap;
	background-color: white;
	margin: -8px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	cursor: default;
}
.dhx_page div {
	background-color: white;
	width: 16px;
	height: 17px;
	vertical-align: middle;
}
div.dhx_page_active {
	font-weight: bold;
	background-color: lightgrey;
	cursor: default;
	color: white;
}
.dhx_pbox_modern {
	margin-top: 3px;
	border: 1px solid #D6D6D6;
	border-top: 0px;
	font-size: 10px;
}
.dhx_pline_modern {
	background-color: white;
	margin: -15px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	float: left;
}
.dhx_page_modern,
.dhx_pager_info_modern {
	margin: 3px;
	text-align: center;
	font-family: tahoma;
	font-size: 12px;
	float: left;
	cursor: pointer;
	color: #055A78;
	background-color: #D6D6D6;
	padding: 1px;
}
.dhx_pager_info_modern {
	white-space: nowrap;
	background-color: white;
	margin: -8px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	cursor: default;
}
.dhx_page_modern div {
	background-color: white;
	width: 16px;
	height: 17px;
	vertical-align: middle;
}
div.dhx_page_active_modern {
	font-weight: bold;
	background-color: #055A78;
	cursor: default;
	color: white;
}
.dhx_pbox_light {
	margin-top: 3px;
	border: 1px solid #C2D5DC;
	border-top: 0px;
	font-size: 10px;
}
.dhx_pline_light {
	background-color: white;
	margin: -15px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	float: left;
}
.dhx_page_light,
.dhx_pager_info_light {
	margin: 3px;
	text-align: center;
	font-family: tahoma;
	font-size: 12px;
	float: left;
	cursor: pointer;
	color: #055A78;
	background-color: #93AFBA;
	padding: 1px;
}
.dhx_pager_info_light {
	white-space: nowrap;
	background-color: white;
	margin: -8px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	cursor: default;
}
.dhx_page_light div {
	background-color: white;
	width: 16px;
	height: 17px;
	vertical-align: middle;
}
div.dhx_page_active_light {
	font-weight: bold;
	background-color: #D1DFE3;
	cursor: default;
	color: white;
}
.calcTable {
	width: 100px;
	background-color: silver;
	border: 1px black solid;
}
.calcButton {
	height: 20px;
	cursor: pointer;
	text-align: center;
	background-color: gray;
	color: white;
	font-size: 10px;
	font-weight: bold;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
}
.calcPressed {
	height: 20px;
	cursor: pointer;
	text-align: center;
	background-color: gray;
	color: white;
	font-size: 10px;
	font-weight: bold;
	border-top: 1px solid black;
	border-right: 1px solid black;
}
.calcInput {
	background-color: white;
	font-size: 10px;
	font-weight: bold;
	font-family: tahoma, arial;
}
.calkSubmit {
	padding: 2px;
	cursor: pointer;
	text-align: center;
	background-color: silver;
	color: white;
	font-size: 10px;
	font-weight: bold;
	border-top: 1px solid white;
	border-right: 1px solid white;
}
.dhxgrid_sort_desc,
.dhxgrid_sort_asc {
	width: 9px;
	height: 8px;
	background-image: url("../imgs/dhxgrid_terrace/sort_desc.gif");
	background-repeat: no-repeat;
}
.dhxgrid_sort_asc {
	background-image: url("../imgs/dhxgrid_terrace/sort_asc.gif");
	background-repeat: no-repeat;
}
.dhxgrid_rh_dhx_terrace {
	position: absolute;
	top: -20px;
	left: -33px;
	width: 32px;
	height: 10px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	font-size: 1px;
	overflow: hidden;
}
.dhxgrid_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr td img {
	display: block;
}
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr td.group_row img,
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr td .treegrid_cell img {
	display: inline;
}
