﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest View</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    <script>@Html.Raw("window.WebApiUrl='" + System.Configuration.ConfigurationManager.AppSettings["WebApiUrl"] + "'")</script>
</head>
<body>
    <div>Welcome Guest!</div>
    <style>
        .dhxlayout_cont {
            float: right !important;
            width: 20% !important;
            margin-left: calc(79%);
        }
    </style>

    <script>
        @Html.Raw("window.baseUrl='" + Url.Content("~/") + "'")
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/dhtmlx")

    <script>
        dhtmlx.image_path = './Content/imgs/';                     
    </script>
</body>
</html>