﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    <script>@Html.Raw("window.WebApiUrl='" + System.Configuration.ConfigurationManager.AppSettings["WebApiUrl"] + "'")</script>
</head>
<body>
    <img src="~/Content/appimages/X2_warehouse.jpg" style="float: left; width: 74%; height: 100%;" />
    <style>
        .dhxlayout_cont {
            float: right !important;
            width: 25% !important;
            margin-left: calc(74%);
        }
    </style>

    <script>
        @Html.Raw("window.baseUrl='" + Url.Content("~/") + "'")
    </script>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/dhtmlx")

    <script>
        dhtmlx.image_path = './Content/imgs/';
        var mainLayout = new dhtmlXLayoutObject(document.body, '1C');
        var a = mainLayout.cells('a');
        a.hideHeader();        
        var formStructure = [
            { type: "container", name: "logoContainer", inputHeight: 70 },
            { type: "label", label: "Log In" },
            { type: "input", name: "username", label: "User Name:", labelWidth: 110, validate: "NotEmpty", inputWidth: 190 },
            { type: "password", name: "password", label: "Password:", labelWidth: 110, validate: "NotEmpty", inputWidth: 190 },
            { type: "checkbox", name: "rememberMe", label: "Keep me signed in:", labelWidth: 110 },
            { type: "checkbox", name: "loginGuest", label: "Log in as guest:", labelWidth: 110 },
            { type: "label", name: 'errorMessage', label: "&nbsp;", className: 'label-normal label-red' },
            {
                type: "block", blockOffset: 0, list: [
                  { type: "container", name: "loadingContainer", inputWidth: 20, offsetLeft: 189, offsetTop: 10 },
                  { type: "newcolumn" },
                  { type: "button", name: "loginButton", label: "Log In", value: "Log In", inputLeft: 20 }]
            }
        ];
        var form = a.attachForm(formStructure);

        var logoCont = form.getContainer("logoContainer");
        logoCont.innerHTML = '<img src="' + window.baseUrl + 'Content/appimages/cm_logo.png">';

        var loadingCont = form.getContainer("loadingContainer");

        var _logIn = function () {
            if (!form.validate()) {
                form.setItemLabel('errorMessage', "&nbsp;");
                loadingCont.innerHTML = "";
                return;
            }
            form.setItemLabel('errorMessage', "&nbsp;");
            var values = form.getValues();
            loadingCont.innerHTML = '<img style="height:20px" src="' + window.baseUrl + 'Content/imgs/dhxlayout_web/dhxlayout_cell_progress.gif">';            
            $.ajax({
                type: 'POST',
                url: '../Account/Login',
                data: "userName=" + values.username + "&password=" + values.password + "&rememberMe=" + (values.rememberMe === 1),
                success: function (data) {
                    loadingCont.innerHTML = "";
                    if (data === "OK") {
                        window.location.href = window.location.origin + window.baseUrl + 'Home/Index';
                    } else {                        
                        form.setItemLabel('errorMessage', JSON.parse(data).error);
                    }                    
                },
                error: function (data) {
                    form.setItemLabel('errorMessage', 'Something went wrong, please contact administrator.');
                    loadingCont.innerHTML = "";
                }
            });           
        }

        form.attachEvent('onButtonClick', function () {
            if (!form.getItemValue('loginGuest')) {
                _logIn();
            } else {
                window.location.href = window.location.origin + window.baseUrl + 'Account/Guest';
            }
        });

        form.attachEvent('onChange', function (name, value, isChecked) {
            if (name === "loginGuest") {
                if (isChecked) {
                    form.disableItem('username');
                    form.disableItem('password');
                    form.disableItem('rememberMe');
                }
                else {
                    form.enableItem('username');
                    form.enableItem('password');
                    form.enableItem('rememberMe');
                }
            }
        })

        form.attachEvent('onKeydown', function (inp, ev, name, valu) {
            if (ev.keyIdentifier === "Enter" || ev.key === "Enter")
                _logIn();
        });        
    </script>
</body>
</html>