/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.cm-carousel .amazingcarousel-image {	
	position: relative;
	padding: 0px;
}

.cm-carousel .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.cm-carousel .amazingcarousel-title {
	position:relative;
	font: bold 12px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 14px;
	height: 14px;
	overflow: hidden;
}

.cm-carousel .amazingcarousel-description {
	position:relative;
	font: 12px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 14px;		
	height: 28px;
	overflow: hidden;
}

/* carousel */

.cm-carousel-container {
	padding: 5px 10px; 
}

.cm-carousel .amazingcarousel-list-container { 
	/*padding: 16px 0;*/
}

/* item */

.cm-carousel .amazingcarousel-item-container {
	text-align: center;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
}

/* arrows */

.cm-carousel .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: -60px;
	margin-top: -24px;
}

.cm-carousel .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -60px;
	margin-top: -24px;
}

/* navigation bullets */

.cm-carousel .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

.cm-carousel .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}



