﻿@model MCH.Web.Models.Accept.AddEditAcceptTaskModel
<div class="row" id="dvAcceptFormHeader_@Model.TaskId">
    <div class="col-md-6">
        <div style="height:100%">
            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-3 glyphicons user active" id="tab-add-accept-driver"><a href="#tabCustomerLookup" data-toggle="tab"><i></i> Customer</a>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tabCustomerLookup" style="height:100%">
                    <div class="row">
                        <div class="col-md-12 form-horizontal">
                            @Html.HiddenFor(m => m.TaskId, new { id = "hdnAcceptFormTaskId_" + Model.TaskId })
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">Lookup :</span>
                                </label>
                                <div class="col-md-7">
                                    <div class="input-group" style="width:100%">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="txtCustomerLookup_@Model.TaskId" style="width:100%" />
                                    </div>
                                    <div id="txtCustomerLookupSource_@Model.TaskId" style="position:absolute; width: 90%"></div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="CustomerCode">
                                    <span style="float:right">IATA Code/Account :</span>
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="txtCustomerAccount_@Model.TaskId" style="width:100%" value="@(Model.Customer != null ? Model.Customer.IATACode:String.Empty)" name="Customer.IATACode" />
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="CustomerType">
                                    <span style="float:right">Customer Type :</span>
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownList("slcCustomerType_" + Model.TaskId, MCH.Web.Utilities.UIDataHelper.GetShipperTypes(Model.Customer.CustomerTypeId, null, null), new { style = "width:100%", @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="CustomerName">
                                    <span style="float:right">Customer Name :</span>
                                </label>
                                <div class="col-md-7">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" class="form-control" id="txtCustomerName_@Model.TaskId" value="@(Model.Customer != null ? Model.Customer.CustomerName:String.Empty)" name="Customer.CustomerName" style="width:100%" />
                                        <div class="input-group-btn" id="btnCustomerLookup">
                                            <button class="btn btn-primary" type="button" id="btnSaveCustomer_@Model.TaskId" title="Save Customer">
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div id="tabsAddTaskDriver" style="height:100%">

            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-3 glyphicons nameplate active" id="tab-add-accept-driver"><a href="#tabAddAcceptDriver" data-toggle="tab"><i></i> Driver</a></li>
                    <li class="col-md-3 glyphicons vcard " id="tab-add-accept-task"><a href="#tabAddAcceptDriverIds" data-toggle="tab"><i></i> ID</a></li>
                </ul>
            </div>

            <div class="tab-content">

                <div class="tab-pane active" id="tabAddAcceptDriver" style="height:100%">
                    <div class="row">
                        @Html.HiddenFor(m => m.Driver.DriverId, new { id = "hdnDriverId_" + Model.TaskId })
                        <div class="col-md-9 form-horizontal">
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">Driver Name :</span>
                                </label>
                                <div class="col-md-7">
                                    <div class="input-group" style="width:100%">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="txtDriverLookup_@Model.TaskId" value="@(Model.Driver.Name)" style="width:100%" />
                                    </div>
                                    <div id="txtDriverLookupSource_@Model.TaskId" style="position:absolute; width: 90%"></div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">Trucking Co :</span>
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownList("slcDriverTrackingCoId_" + Model.TaskId, MCH.Web.Utilities.UIDataHelper.GetTruckingCos(Model.Driver.TruckingCoId, null, null), new { style = "width:100%", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">Primary ID :</span>
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownList("slcDriverPrimaryID_" + Model.TaskId, MCH.Web.Utilities.UIDataHelper.GetCredentialTypes(null, null, null), new { style = "width:100%", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right"></span>
                                </label>
                                <div class="col-md-7">
                                    <label class="checkbox-custom">
                                        <input type="checkbox" id="chbxPhotoMatched_@Model.TaskId"> Photo Matched ?
                                    </label>
                                    <button class="btn btn-primary" id="btnSaveDriverDetials_@Model.TaskId" style="float:right">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="cm-img-profile cm-photo-enlargable" style="width:100px" id="imgDriverPic_@Model.TaskId" src="@Model.Driver.PhotoString" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default" style="width:100px" id="btnRetakeDriverPhoto_@Model.TaskId">
                                        <i class="fa fa-search"></i>
                                        Retake
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabAddAcceptDriverIds" style="height:100%">
                    <div class="row">
                        <div class="col-md-9 form-horizontal">
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">Driver Name :</span>
                                </label>
                                <div class="col-md-7">
                                    <span class="form-control" id="spDriverName_@Model.TaskId">@Model.Driver.Name</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">ID Type :</span>
                                </label>
                                <div class="col-md-7">
                                    <span class="form-control" id="txtDriverIDType_@Model.TaskId" style="width:100%">@Model.Driver.PrimaryString</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-5 cm-form-label" for="lookup">
                                    <span style="float:right">ID # :</span>
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="txtDriverIDNumber_@Model.TaskId" style="width:100%" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" id="btnSaveDriverID_@Model.TaskId" style="float:right">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="cm-img-profile cm-photo-enlargable" style="width:100px" id="imgDriverIdPhoto_@Model.TaskId" src="@Model.Driver.IDPhotoString" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default" style="width:100px" id="btnRetakeDriverIDPhoto_@Model.TaskId">
                                        <i class="fa fa-search"></i>
                                        Retake
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="dvAwbDetails_@Model.TaskId" style="margin-top:2px">
    <div class="col-md-3" style="height:100%;padding-right:1px">
        <div class="cm-bordered-box" style="height:100%;">
            <div class="col-md-12" style="height:34px; background-color:#4e72c2; color:white;padding:5px">
                Awbs Added
            </div>

            <div class="col-md-12 cm-selectable-list" style="overflow:auto;" id="dvAwbsList_@Model.TaskId">
                <ul id="ulAwbtaskList_@Model.TaskId" class="cm-select-list-control">
                    @Html.Partial("_ChildTaskSelectList", Model)
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="height:100%; padding-left:1px">
        <div class="cm-bordered-box" style="height:100%;" id="dvAwbDetailsContainer_@Model.TaskId">
        </div>
    </div>
</div>
<div class="row " style="height:33px; margin:2px 0px 2px 0px !important" id="dvAcceptFormFooterBar">
    <div class="col-md-12 cm-bordered-box">
        <div class="col-md-9">
            <div class="row" style="float:left; margin:2px">
                <div class="col-md-3" style="display:inline-flex">
                    <label class="cm-label-footer">Total Awbs  </label>
                    <span class="form-control" id="spAcceptTaskTotalAwbs_@Model.TaskId" style="width:100px">@Model.TotalAwbs </span>
                </div>
                <div class="col-md-3" style="display:inline-flex">
                    <label class="cm-label-footer">Total Pcs  </label>
                    <span class="form-control" id="spAcceptTaskTotalPcs_@Model.TaskId" style="width:100px"> @Model.TotalPcs</span>
                </div>
                <div class="col-md-3" style="display:inline-flex">
                    <label class="cm-label-footer" style="width:110px">Total Weight  </label>
                    <span class="form-control" id="spAcceptTaskTotalWeight_@Model.TaskId" style="width:100px">@Model.TotalWeight @Model.WeightUom </span>
                </div>
                <div class="col-md-3" style="display:inline-flex">
                    <label class="cm-label-footer" style="width:110px">Total Volume  </label>
                    <span class="form-control" id="spAcceptTaskTotalVolume_@Model.TaskId" style="width:100px">@Model.TotalVolume @Model.VolumeUom </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @Html.HiddenFor(m => m.IsEdit, new { id = "hdnIsEditMode_" + Model.TaskId })
            <div style="float:right; margin:2px">
                <button class="btn btn-success" id="btnAcceptFormComplete_@Model.TaskId">Complete</button>
                <button class="btn btn-primary" id="btnAddNewAwbTask_@Model.TaskId">Add AWB</button>
                <button class="btn btn-danger" id="btnAcceptFormCancel_@Model.TaskId">Cancel</button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_AddEditAcceptFormScript", Model)