﻿@model MCH.Web.Models.Accept.AddEditAcceptTaskModel


<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content" id="tbTaskManagement">

        <div id="tabsAddTaskContainer" style="height:100%">
           
            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-3 glyphicons nameplate_alt active" id="tab-add-accept-task"><a href="#tabAddAcceptTaskList" data-toggle="tab"><i></i> Cargo Accept Form</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tabAddAcceptTaskList" style="height:100%">
                   @Html.Partial("_AddEditAcceptForm",Model)
                </div>
            </div>
        </div>
    </div>
</div>




