﻿@model MCH.Web.Models.Task.SearchTaskViewModel

<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content" id="tbTaskManagement">

        <div id="tabsCLContainer" style="height:100%">
            <!-- Tabs Heading -->
            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-3 glyphicons list active" id="tab-cl-task-list"><a href="#tabCargoLoaderTaskList" data-toggle="tab"><i></i> Cargo Loader Tasks</a></li>
                </ul>
            </div>
            <!-- // Tabs Heading END -->

            <div class="tab-content">

                <!-- Tab content -->
                <div class="tab-pane active" id="tabCargoLoaderTaskList" style="height:100%">
                    <div class="widget widget-heading-simple margin-none" data-toggle="collapse-widget" data-collapse-closed="false">
                        <div class="widget-head">
                            <h4 class="heading">Filters:</h4>
                        </div>
                        <div class="widget-body">

                            <div class="row">
                                <div class="col-md-2">
                                    <h5>From</h5>
                                    <div class="input-group date" id="searchCLTaskFrom">
                                        <input class="form-control" type="text" value="@(Model.From.HasValue ? Model.From.Value.ToShortDateString() :DateTime.Now.ToShortDateString())" id="dpCLTaskFrom">
                                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>To</h5>
                                    <div class="input-group date" id="searchCLTaskTo">
                                        <input class="form-control" type="text" value="@(Model.To.HasValue ? Model.To.Value.ToShortDateString() :
                                           DateTime.Now.ToShortDateString())" id="dpCLTaskTo">
                                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>Carrier</h5>
                                    <div class="row innerLR">
                                        @Html.DropDownList("clTasksFilterCarrier", MCH.Web.Utilities.UIDataHelper.GetCarriers(null, "Select Carrier", ""), new { style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <h5>Flight #</h5>
                                    <div class="input-group" id="searchTaskFlightNumber">
                                        <input class="form-control" type="text" id="txtCRFlightNumber">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>Status</h5>
                                    <div class="row innerLR">
                                        @*<input type="text" style="width:100%" id="clTasksFilterStatues" />*@
                                        @Html.DropDownList("clTasksFilterStatues", MCH.Web.Utilities.UIDataHelper.GetTaskStatuses((int?)Model.StatusId, "All Statuses", ""), new { style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h5>&nbsp</h5>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" id="btnResetCLTaskList"><i class="fa fa-refresh"></i> Reset</button>
                                        <button class="btn btn-primary" id="btnSearchCLTaskList"><i class="fa fa-search"></i> Search</button>
                                        <button class="btn btn-success" id="btnCLAddNewTask"><i class="fa fa-plus"></i> New Task</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="tblSearchCLGeneralTask" class="display" cellspacing="0" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>

@Html.Partial("_CargoLoaderTasksScript", Model)

<script src="@Url.Content("~/Content/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js")"></script>
