﻿@model MCH.Web.Models.Task.SearchTaskViewModel

<script type="text/javascript">

    $(function () {

        document.reloadTasksList = function ()
        {
            $("#tblSearchGeneralTask").DataTable().ajax.reload();
        }

        var initResizeReceiverTasks = function () {
            var tabParent = $("#tabsCRContainer").parent();

            var tabContainer = $("#tabsCRContainer");

            var tabHeader = tabContainer.children(".tabsbar.tabsbar-2").first();

            var tmpRemainingHeight = tabParent.height() - tabHeader.outerHeight(true);

            tabContainer.children(".tab-content").first().height(tmpRemainingHeight);

        }

        var resizeReceiverDataTable = function () {
            var tableWrapper = $("#tblSearchGeneralTask_wrapper");

            var tableHeight = tableWrapper.outerHeight(true);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();
            var tmpContanerHeight = tmpTableContainer.height();

            tmpTableContainer.children('div').each(function (i, e) {
                if ($(this).attr('id') != 'tblSearchGeneralTask_wrapper') {
                    tmpContanerHeight = tmpContanerHeight - $(this).outerHeight(true);
                }
            });

            //128 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpContanerHeight - 119);

            $('#tblSearchGeneralTask_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
            $('#tblSearchGeneralTask_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');
        }

        initResizeReceiverTasks();

        initFilterFields();

        initCollapsiblePanel();

        var appendCLTaskListFilter = function (baseData) {
            if (baseData) {

                var tmpFlightNumber = $("#txtCRFlightNumber").val();
                var tmpTaskStatusId = $("#crTasksFilterStatues").select2('data') != null ? $("#crTasksFilterStatues").select2('data').id : '';
                var tmpCarrierId = $("#crTasksFilterCarrier").select2('data') != null ? $("#crTasksFilterCarrier").select2('data').id : '';
                var tmpOriginId = '';
                var tmpDestination = '';
                var tmpAssignedUserId = '';
                //this value comes from dashboard selected Handling Station
                var tmpWarehouseId = '@Model.WarehousePortId';

                baseData.push({ "name": "From", "value": $("#dpCRTaskFrom").val() });
                baseData.push({ "name": "To", "value": $("#dpCRTaskTo").val() });
                baseData.push({ "name": "FlightNumber", "value": tmpFlightNumber });
                baseData.push({ "name": "TaskStatusId", "value": tmpTaskStatusId });
                baseData.push({ "name": "CarrierId", "value": tmpCarrierId });
                baseData.push({ "name": "OriginId", "value": tmpOriginId });
                baseData.push({ "name": "TaskDestinationId", "value": tmpDestination });
                baseData.push({ "name": "AssignedUserId", "value": tmpAssignedUserId });
                baseData.push({ "name": "WarehouseId", "value": tmpWarehouseId });

            }

            return baseData;
        }

        $("#tblSearchGeneralTask").dataTable({
            "order": [[9, "DESC"]],
            "iDisplayLength": 25,
            "bJQueryUI": true,
            "sScrollY": "100px",
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "language": {
                "emptyTable": "No records found."
            },
            "fnDrawCallback":function(oSettings)
            {

            },
            "sAjaxSource": "@Url.Action("GetTaskData", "Tasks")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendCLTaskListFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                { "aTargets": [0], "mData": "Sec", "sTitle": "#", "bSearchable": false, "bSortable": false },
                {
                    "aTargets": [1], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                        return '<input type="checkbox" data-id="' + full.Id + '" class="cm-datatable-select"/>';
                    }
                },
                {
                    "aTargets": [2], "sClass": "cm-datatable-action", "mData": "Haz", "sTitle": '<a href="#"><i class="fa fa-warning">', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        if (data && data === 1) {
                            return '<a href="#"><i class="fa fa-warning">';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    "aTargets": [3], "sClass": "cm-datatable-action ", "mData": "Alert", "sTitle": '<a href="#"><i class="fa fa-comment">', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        if (data && data == true) {
                            return '<a href="#" class="cm-datatable-action-alerts" data-id='+full.Id+'><i class="fa fa-comment">';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    "aTargets": [4], "sClass": "cm-datatable-action", "mData": "Reopen", "sTitle": '<a href="#"><i class="fa fa-refresh">', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        if (data && data === 1) {
                            return '<a href="#"><i class="fa fa-refresh">';
                        } else {
                            return '';
                        }
                    }
                },
                { "aTargets": [5], "sClass": "cm-datatable-action", "mData": "Status", "sTitle": "Status", "bSearchable": false, "bSortable": true },
                { "aTargets": [6], "mData": "Progress", "sTitle": "Progress", "bSearchable": false, "bSortable": true },
                { "aTargets": [7], "mData": "Carrier", "sTitle": "A/L", "bSearchable": false, "bSortable": true },
                { "aTargets": [8], "mData": "FlightNumber", "sTitle": "FLT", "bSearchable": false, "bSortable": true },
                {
                    "aTargets": [9], "mData": "ETA", "sTitle": "ETA", "bSearchable": false, "bSortable": true, "sType": "date", "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                },
                {
                    "aTargets": [10], "mData": "Reference", "sTitle": "Reference", "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        return '<a href="#" class="nav-details" data-id="' + full.Id + '" data-ref="' + full.Reference + '" >' + data + '</a>';
                    }
                },
                { "aTargets": [11], "mData": "AssignedTo", "sTitle": "Assigned To", "bSearchable": false, "bSortable": true },
                {
                    "aTargets": [12], "mData": "Start", "sTitle": "Start", "bSearchable": false, "bSortable": true, "sType": "date", "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                },
                {
                    "aTargets": [13], "mData": "End", "sTitle": "End", "bSearchable": false, "bSortable": true, "sType": "date", "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                }
            ]
        });

        $("#tblSearchGeneralTask a.cm-datatable-action-alerts").die().live('click', function (e) {
            var tmpTaskId = $(this).attr("data-id");
            DIALOG_HANDLER.openRemoteView(function () { }, '@Url.Action("GetTaskAltersListView", "Alerts")', { TaskId: tmpTaskId }, "Task Alters");
        });

        var tmpCRTaskListActions = {
            controlId: 'crTaskListOptions',
            options: [
                { id: 'crAssigneUsers', name: "Assigne User(s)" },
                { id: 'crReopenTasks', name: "Reopen Tasks" },
                { id: 'crDisableTasks', name: "Disable Tasks" },
            ]
        };


        $("#datatable-filter-action").tmpl(tmpCRTaskListActions).appendTo("#tblSearchGeneralTask_filter");


        $("#crAssigneUsers").click(function () {

        });

        $("#crReopenTasks").click(function () {
            alert("go to reopen tasks");
        });

        $("#crDisableTasks").click(function () {
            alert("go to disable tasks");
        });

        $('#tblSearchGeneralTask tbody tr').die().live('dblclick', function () {
            var aData = $("#tblSearchGeneralTask").dataTable().fnGetData(this);

            var tabTemplateData = {};

            var tabHeaderId = 'tab-cr-task-details-' + aData.Id;

            tabTemplateData.headerId = tabHeaderId;
            tabTemplateData.iconClass = 'cargo';
            tabTemplateData.header = 'Task Details : ' + aData.Reference;
            tabTemplateData.contentId = 'tabCargoReceiverDetails_' + aData.Id;

            window.TAB_HANDLER.addTab('tabsCRContainer', tabTemplateData, '@Url.Action("GetTAskDetailsByType","Tasks")', { TaskId: aData.Id}, 'loading-bar');
        });


        $("#tblSearchGeneralTask a.nav-details").die().live('click', function () {

            var selectedTaskId = $(this).attr('data-id');
            var selectedTaskRef = $(this).attr('data-ref');

            var tabTemplateData = {};

            var tabHeaderId = 'tab-cr-task-details-' + selectedTaskId;

            tabTemplateData.headerId = tabHeaderId;
            tabTemplateData.iconClass = 'cargo';
            tabTemplateData.header = 'Task Details : ' + selectedTaskRef;
            tabTemplateData.contentId = 'tabCargoReceiverDetails_' + selectedTaskId;

            window.TAB_HANDLER.addTab('tabsCRContainer', tabTemplateData, '@Url.Action("GetTAskDetailsByType","Tasks")', { TaskId: selectedTaskId }, 'loading-bar');
        });

        resizeReceiverDataTable();

        $(window).resize(function () {
            initResizeReceiverTasks();

            var isCurrentTabSelected = $("#tabCargoReceiverTaskList").hasClass('active');
            if (isCurrentTabSelected) {
                resizeReceiverDataTable();
            }
        })

    });

    

    function initCollapsiblePanel() {
        $('.widget[data-toggle="collapse-widget"] .widget-body')
		.on('show.bs.collapse', function () {
		    $(this).parents('.widget:first').attr('data-collapse-closed', "false");
		})
		.on('shown.bs.collapse', function () {
		    setTimeout(function () { $(window).resize(); }, 500);
		})
		.on('hidden.bs.collapse', function () {
		    $(this).parents('.widget:first').attr('data-collapse-closed', "true");
		});

        $('.widget[data-toggle="collapse-widget"]').each(function () {
            // append toggle button
            if (!$(this).find('.widget-head > .collapse-toggle').length)
                $('<span class="collapse-toggle"></span>').appendTo($(this).find('.widget-head'));

            // make the widget body collapsible
            $(this).find('.widget-body').not('.collapse').addClass('collapse');

            // verify if the widget should be opened
            if ($(this).attr('data-collapse-closed') !== "true")
                $(this).find('.widget-body').addClass('in');

            // bind the toggle button
            $(this).find('.collapse-toggle').on('click', function () {
                $(this).parents('.widget:first').find('.widget-body').collapse('toggle');
            });
        });
    }

    function initFilterFields() {

        /* DatePicker */
        // default
        $("#searchTaskFrom").bdatepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
            todayBtn: true
        });

        $("#searchTaskTo").bdatepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
            todayBtn: true
        });

        //set minimumResultsForSearch -1 to disable search
        $("#crTasksFilterCarrier").select2({
            allowClear: true,
            placeholder: "Select a Carrier"
        });

        $("#crTasksFilterStatues").select2({
            allowClear: true,
            placeholder: "Select a Status"
        });


        $("#btnSearchCRTaskList").click(function () {
            $("#tblSearchGeneralTask").DataTable().ajax.reload();
        });

        $("#btnCRAddNewTask").click(function () {
            //console.log($("#tblSearchGeneralTask").DataTable().rows('.cm-datatable-selected').data());
        });



        $("#btnResetCRTaskList").click(function () {

            $("#dpCRTaskFrom").val(new Date().customFormat("#MM#/#DD#/#YYYY# "));
            $("#dpCRTaskTo").val(new Date().customFormat("#MM#/#DD#/#YYYY# "));
            $("#crTasksFilterCarrier").select2('val', "");
            $("#crTasksFilterStatues").select2('val', "");
            $("#crTasksFilterOrigin").select2('val', "");
            $("#crTasksFilterDestination").select2('val', "");
            $("#crTasksFilterAssignedTo").select2('val', "");
            $("#txtCRFlightNumber").val('');
            $("#tblSearchGeneralTask").DataTable().ajax.reload();

        });
    }
</script>