﻿@model MCH.Web.Models.Task.SearchTaskViewModel

<script type="text/javascript">
    

    $(function () {

        var initDGTasks = function () {
            var tabParent = $("#tabsDGContainer").parent();

            var tabContainer = $("#tabsDGContainer");

            var tabHeader = tabContainer.children(".tabsbar.tabsbar-2").first();

            var tmpRemainingHeight = tabParent.height() - tabHeader.outerHeight(true);

            tabContainer.children(".tab-content").first().height(tmpRemainingHeight);

        }

        var resizeDGTable = function () {
            var tableWrapper = $("#tblSearchDGTask_wrapper");

            var tableHeight = tableWrapper.outerHeight(true);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();
            var tmpContanerHeight = tmpTableContainer.height();

            tmpTableContainer.children('div').each(function (i, e) {
                if ($(this).attr('id') != 'tblSearchDGTask_wrapper') {
                    tmpContanerHeight = tmpContanerHeight - $(this).outerHeight(true);
                }
            });

            //128 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpContanerHeight - 119);

            $('#tblSearchDGTask_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
            $('#tblSearchDGTask_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');

        }

        initDGTasks();

        initFilterFields();

        initCollapsiblePanel();

        var appendCLTaskListFilter = function (baseData) {
            if (baseData) {

                var tmpFlightNumber = $("#txtCLFlightNumber").val();
                var tmpTaskStatusId = $("#dgTasksFilterStatues").select2('data') != null ? $("#dgTasksFilterStatues").select2('data').id:'';
                var tmpCarrierId = $("#dgTasksFilterCarrier").select2('data') != null ? $("#dgTasksFilterCarrier").select2('data').id : '';
                var tmpOriginId = $("#dgTasksFilterOrigin").select2('data') != null ? $("#dgTasksFilterOrigin").select2('data').id : '';
                var tmpDestination = $("#dgTasksFilterDestination").select2('data') != null ? $("#dgTasksFilterDestination").select2('data').id:'';
                var tmpAssignedUserId = $("#dgTasksFilterAssignedTo").select2('data') != null ? $("#dgTasksFilterAssignedTo").select2('data').id : '';
                //this value comes from dashboard selected Handling Station
                var tmpWarehouseId = '@Model.WarehousePortId';

                baseData.push({ "name": "From", "value": $("#dpDGTaskFrom").val() });
                baseData.push({ "name": "To", "value": $("#dpDGTaskTo").val() });
                baseData.push({ "name": "FlightNumber", "value": tmpFlightNumber });
                baseData.push({ "name": "TaskStatusId", "value": tmpTaskStatusId });
                baseData.push({ "name": "CarrierId", "value": tmpCarrierId });
                baseData.push({ "name": "OriginId", "value": tmpOriginId });
                baseData.push({ "name": "TaskDestinationId", "value": tmpDestination });
                baseData.push({ "name": "AssignedUserId", "value": tmpAssignedUserId });
                baseData.push({ "name": "WarehouseId", "value": tmpWarehouseId});
                
            }

            return baseData;
        }

        $("#tblSearchDGTask").dataTable({
            "bJQueryUI": true,
            "sScrollY": "100px",
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "language": {
                "emptyTable":     "No records found."
            },

            "sAjaxSource": "@Url.Action("GetDGChecklistTaskList", "Tasks")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendCLTaskListFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                { "aTargets": [0], "mData": "Sec", "sTitle": "Sec #", "bSearchable": false, "bSortable": false },
                {
                    "aTargets": [1], "mData": "null", "sClass": "cm-datatable-action", "sTitle":"<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                        return '<input type="checkbox" data-id="'+full.Id+'" class="cm-datatable-select"/>';
                    }
                },
                {
                    "aTargets": [2], "sClass": "cm-datatable-action", "mData": "Haz", "sTitle": '<a href="#"><i class="fa fa-warning">', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        if (data && data === 1) {
                            return '<a href="#"><i class="fa fa-warning">';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    "aTargets": [3], "sClass": "cm-datatable-action", "mData": "Alert", "sTitle": '<a href="#"><i class="fa fa-comment">', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        if (data && data === 1) {
                            return '<a href="#"><i class="fa fa-comment">';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    "aTargets": [4], "sClass": "cm-datatable-action", "mData": "Reopen", "sTitle": '<a href="#"><i class="fa fa-refresh">', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        if (data && data === 1) {
                            return '<a href="#"><i class="fa fa-refresh">';
                        } else {
                            return '';
                        }
                    }
                },
                { "aTargets": [5], "mData": "Status", "sTitle": "Status", "bSearchable": false, "bSortable": true },
                { "aTargets": [6], "mData": "Progress", "sTitle": "Progress", "bSearchable": false, "bSortable": true },
                {
                    "aTargets": [7], "mData": "Cutoff", "sTitle": "Cutoff", "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                },
                { "aTargets": [8], "mData": "FlightNumber", "sTitle": "Flight #", "bSearchable": false, "bSortable": true },
                { "aTargets": [9], "mData": "Carrier", "sTitle": "A/L", "bSearchable": false, "bSortable": true },
                {
                    "aTargets": [10], "mData": "ETD", "sTitle": "ETD", "bSearchable": false, "bSortable": true, "sType": "date", "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                },
                {
                    "aTargets": [11], "mData": "Reference", "sTitle": "Reference", "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        return '<a href="#" class="nav-details" data-id="' + full.Id + '" data-ref="' + full.Reference + '" >' + data + '</a>';
                    }
                },
                { "aTargets": [12], "mData": "AssignedTo", "sTitle": "Assigned To", "bSearchable": false, "bSortable": true },
                {
                    "aTargets": [13], "mData": "Start", "sTitle": "Start", "bSearchable": false, "bSortable": true, "sType": "date", "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                },
                {
                    "aTargets": [14], "mData": "End", "sTitle": "End", "bSearchable": false, "bSortable": true, "sType": "date", "mRender": function (data, type, full) {
                        return new Date().getDataTableColumn(data);
                    }
                }
            ]
        });

        var tmpCRTaskListActions = {
            controlId:'crTaskListOptions',
            options: [
                { id: 'crAssigneUsers', name: "Assigne User(s)" },
                { id: 'crReopenTasks', name: "Reopen Tasks" },
                { id: 'crDisableTasks', name: "Disable Tasks" },
            ]
        };


        $("#datatable-filter-action").tmpl(tmpCRTaskListActions).appendTo("#tblSearchCLGeneralTask_filter");


        $("#crAssigneUsers").click(function () {
           
        });

        $("#crReopenTasks").click(function () {
            alert("go to reopen tasks");
        });

        $("#crDisableTasks").click(function () {
            alert("go to disable tasks");
        });


        

        $("#tblSearchDGTask a.nav-details").die().live('click', function () {

            var selectedTaskId = $(this).attr('data-id');
            var selectedTaskRef = $(this).attr('data-ref');

            var tabTemplateData = {};

            var tabHeaderId = 'tab-cr-task-details-' + selectedTaskId;

            tabTemplateData.headerId = tabHeaderId;
            tabTemplateData.iconClass = 'cargo';
            tabTemplateData.header = 'Task Details : ' + selectedTaskRef;
            tabTemplateData.contentId = 'tabCargoReceiverDetails_' + selectedTaskId;

            window.TAB_HANDLER.addTab('tabsDGContainer', tabTemplateData, '@Url.Action("GetTAskDetailsByType","Tasks")', { TaskId: selectedTaskId }, 'loading-bar');
            
        });

        resizeDGTable();

        $(window).resize(function () {
            initDGTasks();

            var isCurrentTabSelected = $("#tabDGTaskList").hasClass('active');
            if (isCurrentTabSelected) {
                resizeDGTable();
            }
        })

    });

    

    function initCollapsiblePanel() {
        $('.widget[data-toggle="collapse-widget"] .widget-body')
		.on('show.bs.collapse', function () {
		    $(this).parents('.widget:first').attr('data-collapse-closed', "false");
		})
		.on('shown.bs.collapse', function () {
		    setTimeout(function () { $(window).resize(); }, 500);
		})
		.on('hidden.bs.collapse', function () {
		    $(this).parents('.widget:first').attr('data-collapse-closed', "true");
		});

        $('.widget[data-toggle="collapse-widget"]').each(function () {
            // append toggle button
            if (!$(this).find('.widget-head > .collapse-toggle').length)
                $('<span class="collapse-toggle"></span>').appendTo($(this).find('.widget-head'));

            // make the widget body collapsible
            $(this).find('.widget-body').not('.collapse').addClass('collapse');

            // verify if the widget should be opened
            if ($(this).attr('data-collapse-closed') !== "true")
                $(this).find('.widget-body').addClass('in');

            // bind the toggle button
            $(this).find('.collapse-toggle').on('click', function () {
                $(this).parents('.widget:first').find('.widget-body').collapse('toggle');
            });
        });
    }

    function initFilterFields() {

        /* DatePicker */
        // default
        $("#searchDGTaskFrom").bdatepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
            todayBtn: true
        });

        $("#searchDGTaskTo").bdatepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
            todayBtn: true
        });

        //set minimumResultsForSearch -1 to disable search
        $("#dgTasksFilterCarrier").select2({
            allowClear: true,
            placeholder: "Select a Carrier"
        });

        $("#dgTasksFilterStatues").select2({
            allowClear: true,
            placeholder: "Select a Status"
        });

        $("#btnSearchDGTaskList").click(function () {
            $("#tblSearchDGTask").DataTable().ajax.reload();
        });

        $("#btnDGAddNewTask").click(function () {
            //console.log($("#tblSearchCLGeneralTask").DataTable().rows('.cm-datatable-selected').data());
        });

        $("#btnResetDGTaskList").click(function () {
            
            $("#dpDGTaskFrom").val('');
            $("#dpDGTaskTo").val('');
            $("#dgTasksFilterCarrier").select2('val', "");
            $("#dgTasksFilterStatues").select2('val', "");
            $("#txtDGFlightNumber").val('');
            $("#tblSearchDGTask").DataTable().ajax.reload();

        });
    }
</script>