﻿

<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic" id="tbTaskManagement">

        <!-- Tabs Heading -->
        <div class="tabsbar tabsbar-2">
            <ul class="row row-merge">
                <li class="col-md-3 glyphicons list active"><a href="#tab1-4" data-toggle="tab"><i></i> Tasks</a></li>
                <li class="col-md-3 glyphicons cargo">
                    <a href="#tab2-4" data-toggle="tab">
                        <i></i> <span>Cargo Loader</span>
                        <span class="btn tab-close">x</span>
                    </a>
                </li>
                <li class="col-md-3 glyphicons cart_in"><a href="#tab3-4" data-toggle="tab"><i></i> <span>Cargo Receiver</span></a></li>
                <li class="col-md-3 glyphicons pencil"><a href="#tab4-4" data-toggle="tab"><i></i> <span>Tender Cargo Job Details</span></a></li>
            </ul>
        </div>
        <!-- // Tabs Heading END -->

        <div class="tab-content">

            <!-- Tab content -->
            <div class="tab-pane active" id="tab1-4">
                <div class="widget widget-heading-simple margin-none" data-toggle="collapse-widget" data-collapse-closed="false">
                    <div class="widget-head">
                        <h4 class="heading">Filters:</h4>
                    </div>
                    <div class="widget-body">

                        <div class="row">
                            <div class="col-md-2">
                                <h5>From</h5>
                                <div class="input-group date" id="searchTaskFrom">
                                    <input class="form-control" type="text" value="14 February 2013">
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h5>To</h5>
                                <div class="input-group date" id="searchTaskTo">
                                    <input class="form-control" type="text" value="14 February 2013">
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <h5>Task Type</h5>
                                <div class="innerLR innerB">
                                    <select class="col-md-12 form-control">
                                        <option>Cargo Loader</option>
                                        <option>Cargo Receiver</option>
                                        <option>Inventory</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h5>Assigned To</h5>
                                <div class="innerLR innerB">
                                    <select class="col-md-12 form-control">
                                        <option>Harutyun Terteryan</option>
                                        <option>Adrian Demian</option>
                                        <option>Rodrigo Diaz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h5>Status</h5>
                                <div class="innerLR innerB">
                                    <select class="col-md-12 form-control">
                                        <option>All</option>
                                        <option>Not Started</option>
                                        <option>In Progress</option>
                                        <option>Completed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>&nbsp</h5>
                                        <div>
                                            <button class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>&nbsp</h5>
                                        <div>
                                            <button class="btn btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="widget widget-heading-simple margin-none">
                    <div class="widget-head"><h4 class="heading"></h4></div>
                    <div class="widget-body">
                        <table id="tblSearchGeneralTask" class="display responsive nowrap" cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <th>Sec #</th>
                                    <th>Select</th>
                                    <th>Haz?</th>
                                    <th>Alert</th>
                                    <th>Status</th>
                                    <th>Progress</th>
                                    <th>Cutoff</th>
                                    <th>Type</th>
                                    <th>Carrier</th>
                                    <th>Reference</th>
                                    <th>Assign To</th>
                                    <th>Start</th>
                                    <th>End</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>v</td>
                                    <td>true</td>
                                    <td>has alert</td>
                                    <td>In Progress</td>
                                    <td>75%</td>
                                    <td>08:00 PM</td>
                                    <td>Cargo Loader</td>
                                    <td>BA</td>
                                    <td>JFK-125-12345678-MAD</td>
                                    <td>Adrian Demian</td>
                                    <td>10-15-2014</td>
                                    <td>10-25-2014</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>v</td>
                                    <td>true</td>
                                    <td>has alert</td>
                                    <td>In Progress</td>
                                    <td>75%</td>
                                    <td>08:00 PM</td>
                                    <td>Cargo Loader</td>
                                    <td>BA</td>
                                    <td>JFK-125-12345678-MAD</td>
                                    <td>Adrian Demian</td>
                                    <td>10-15-2014</td>
                                    <td>10-25-2014</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>v</td>
                                    <td>true</td>
                                    <td>has alert</td>
                                    <td>In Progress</td>
                                    <td>75%</td>
                                    <td>08:00 PM</td>
                                    <td>Cargo Loader</td>
                                    <td>BA</td>
                                    <td>JFK-125-12345678-MAD</td>
                                    <td>Adrian Demian</td>
                                    <td>10-15-2014</td>
                                    <td>10-25-2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- // Tab content END -->
            <!-- Tab content -->
            <div class="tab-pane" id="tab2-4">

            </div>
            <!-- // Tab content END -->
            <!-- Tab content -->
            <div class="tab-pane" id="tab3-4">

            </div>
            <!-- // Tab content END -->
            <!-- Tab content -->
            <div class="tab-pane" id="tab4-4">

            </div>
            <!-- // Tab content END -->

        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/task-management/search-task-init.js")"></script>
<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        

    });
</script>

