﻿@model MCH.Web.Models.Task.TaskDetailsUlds

<script type="text/javascript">
    $(function () {

        var initLoaderULDsTableResize = function () {

            var tableWrapperId = 'tblDetailsUlds_@(Model.TaskId)_wrapper';

            var tableWrapper = $("#" + tableWrapperId);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();

            //119 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpTableContainer.height() - 119);

        }

        var initULDList = function () {

            var appendULDListFilter = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                }
                return baseData;
            }
            $("#tblDetailsUlds_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "scrollY": "250px",
                "sAjaxSource": "@Url.Action("GetTaskUlds", "Uld")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendULDListFilter(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                     {
                         "aTargets": [0], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                             return '<input type="checkbox" data-id="' + full.Id + '" class="cm-datatable-select"/>';
                         }
                     },
                    {
                        "aTargets": [1], "mData": "Type", "sTitle": 'Type', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [2], "mData": "Prefix", "sTitle": 'Prefix', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "Reference", "sTitle": 'Reference#', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [4], "mData": "NumberAwbs", "sTitle": '#AWBs', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [5], "mData": "STC", "sTitle": 'STC', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [6], "mData": "IsBUP", "sTitle": 'BUP', "bSearchable": false, "bSortable": true,
                        "mRender": function (data, type, full) {

                            return full.IsBUP == 1 ? '<a href="#" data-id="' + full.Id + '" class="cm-action-check-uld-bup"><i class="fa fa-check-square-o">' : '<a href="#" data-id="' + full.Id + '" class="cm-action-check-uld-bup"><i class="fa fa-square-o">';
                        }
                    },
                    {
                        "aTargets": [7], "mData": "TotalWeight", "sTitle": 'Total Weight', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [8], "mData": "FreightWeight", "sTitle": 'Freight Weight', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [9], "mData": "TareWeight", "sTitle": 'Tare Weight', "bSearchable": false, "bSortable": true
                    },


                    {
                        "aTargets": [10], "sClass": "cm-datatable-action", "mData": "StatusId", "sTitle": 'Status', "bSearchable": false, "bSortable": true,
                        "mRender": function (data, type, full) {

                            var returnString = "";

                            if (data == 1 || data == 20) {
                                //pending
                                returnString = '<a href="#" title="Pending"><i class="fa fa-clock-o">';
                            }
                            else if (data == 4 || data == 25) {
                                // complete
                                returnString = '<a href="#" title="Complete"><i class="fa fa-check-circle-o">';
                            }
                            else if (data == 2 || data == 3 || data == 22 || data == 23 || data == 24) {
                                // in progress
                                returnString = '<a href="#" title="In Progress"><i class="fa fa-spinner">';
                            }

                            return returnString;
                        }
                    },
                    {
                        "aTargets": [11], "mData": "Location", "sTitle": 'Location', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "Id", "sTitle": " ", "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                            return '<a href="#" data-id="' + data + '" class="cm-action-delete-uld"><i class="fa fa-trash-o">';
                        }
                    }
                ]
            });


            var tmpCRUldListActions = {
                controlId: 'clTaskULDOptions@(Model.TaskId)',
                options: [
                     { id: 'clUldDelete@(Model.TaskId)', name: "Delete" },
                     { id: 'clUlDAdd@(Model.TaskId)', name: "Add ULD" },
                     { id: 'crUldMarkBUP@(Model.TaskId)', name: "Mark as BUP" },
                     { id: 'crUldUnMarkBUP@(Model.TaskId)', name: "Unmark as BUP" }

                ]
            };



            $("#datatable-filter-action").tmpl(tmpCRUldListActions).appendTo("#tblDetailsUlds_@(Model.TaskId)_filter");

            $("#clUldDelete@(Model.TaskId)").on('click', function (e) {

                var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
                var selectedUldIds = [];
                if (selectedItems.length > 0) {
                    for (var i = 0 ; i < selectedItems.length; i++) {
                        selectedUldIds.push($(selectedItems[i]).attr("data-id"));
                    }
                }

                var dataModel = { TaskId: '@Model.TaskId', ULDIdsString: selectedUldIds.join(",") };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteUlds", "Uld")',
                    data: JSON.stringify(dataModel),
                    success: function () {
                        $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8"
                });
            })

            $("#clUlDAdd@(Model.TaskId)").on('click', function () {

                $.getJSON("@Url.Action("GetAddUldData", "Uld")", { taskId: '@Model.TaskId' }, function (data) {

                    var tmpUldTypeOptionsArray = [];

                    $.each(data.UldTypes, function (key, val) {
                        tmpUldTypeOptionsArray.push({ Id: val.Id, Text: val.Text });
                    });

                    var tmpUldUnitTypes = [];


                    $.each(data.UnitTypes, function (key, val) {
                        tmpUldUnitTypes.push({ Id: val.Id, Text: val.Text });
                    });

                    var addULDTemplateData = {
                        empControlId: 'slcUser_@Model.TaskId',
                        uldTypeControlId: 'slcUldType_@Model.TaskId',
                        prefixControlId: 'slcPrefix_@Model.TaskId',
                        serialContorlId: 'txtSerial_@Model.TaskId',
                        "unitTypeOptions": tmpUldUnitTypes,
                        "uldTypeOptions": tmpUldTypeOptionsArray
                    };

                    var htmlContent = $("#modal-content-add-uld").tmpl(addULDTemplateData);

                    DIALOG_HANDLER.openStaticDialog(function () {

                        var selectedUsersId = $('#slcUser_@Model.TaskId').select2('val');
                        var selectedUldTypeId = $('#slcUldType_@Model.TaskId').select2('val');
                        var tmpPrefix = $("#slcPrefix_@Model.TaskId").select2('val');
                        var tmpSerial = $("#txtSerial_@Model.TaskId").val();

                        var tmpAddULDData = {
                            TaskId: '@Model.TaskId',
                            UldTypeId: selectedUldTypeId,
                            Serial: tmpSerial,
                            PrefixId: tmpPrefix
                        };

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("AddCargoLoaderFlightLegULD", "uld")',
                            data: JSON.stringify(tmpAddULDData),
                            success: function () {
                                $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                            },
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8"
                        });

                    }, htmlContent, "Add ULD");

                    $('#slcUser_@Model.TaskId').select2();
                    $('#slcUldType_@Model.TaskId').select2();
                    $("#slcPrefix_@Model.TaskId").select2();

                });
            });

            $("#crUldMarkBUP@(Model.TaskId)").on('click', function () {
                var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
                var selectedUldIds = [];
                if (selectedItems.length > 0) {
                    for (var i = 0 ; i < selectedItems.length; i++) {
                        selectedUldIds.push($(selectedItems[i]).attr("data-id"));
                    }
                }

                var dataModel = { TaskId: '@Model.TaskId', ULDStringIds: selectedUldIds.join(","), IsBUP: true };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MarkULDBUP", "Uld")',
                    data: JSON.stringify(dataModel),
                    success: function () {
                        $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8"
                });
            });

            $("#crUldUnMarkBUP@(Model.TaskId)").on('click', function () {
                var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
                var selectedUldIds = [];
                if (selectedItems.length > 0) {
                    for (var i = 0 ; i < selectedItems.length; i++) {
                        selectedUldIds.push($(selectedItems[i]).attr("data-id"));
                    }
                }

                var dataModel = { TaskId: '@Model.TaskId', ULDStringIds: selectedUldIds.join(","), IsBUP: false };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MarkULDBUP", "Uld")',
                    data: JSON.stringify(dataModel),
                    success: function () {
                        $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8"
                });
            });
        }

        // init the content when the tab is selected and there is enough space to shrink
        $(document).on("cmEvent_TabSelected", function (e) {
            if (e && e.Id == '#@Model.TabItemId') {
                var tmpIsLoadedAttr = $(e.Id).attr("data-cm-loaded");
                var isLoaded = (typeof tmpIsLoadedAttr !== typeof undefined && tmpIsLoadedAttr !== false)
                if (!isLoaded) {
                    initULDList();
                    $(e.Id).attr("data-cm-loaded", "");
                } else {
                    $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                }
            }
        });

        $(window).on('cm-sub-resize', function () {
            initLoaderULDsTableResize();
        })
    });

</script>