﻿@model MCH.Web.Models.Task.TaskDetailsDG
<div class="row">
    <div class="widget widget-heading-simple margin-none col-md-12" style="margin-bottom:5px !important;" data-toggle="collapse-widget" data-collapse-closed="false">
        <div class="widget-head">
            <h4 class="heading"></h4>
            <span class="collapse-toggle"></span>
        </div>
        <div class="widget-body in col-md-12" style="height: auto; padding:5px !important;">
            @*<div class="widget widget-heading-simple margin-none col-md-12" style="
                margin-bottom: 5px !important;" data-toggle="collapse-widget" data-collapse-closed="false">
                    <div class="widget-head">
                        <h4 class="heading"></h4>
                        <span class="collapse-toggle"></span>
                    </div>
                    <div class="widget-body collapse in col-md-12" style="padding:5px !important">*@
            <div class="col-md-10">
                <form id="frmTaskDetails_@Model.TaskId">
                    @Html.HiddenFor(m => m.TaskId)
                    <div class="col-md-4 form-horizontal">
                        <!-- Group -->
                        <div class="row">
                            <label class="col-md-4 " for="Reference">
                                <span style="float:right">Reference:</span>
                            </label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.Reference</span>
                            </div>
                        </div>
                        <!-- // Group END -->
                        <!-- Group -->
                        <div class="row">
                            <label class="col-md-4 " for="DueDate"><span style="float:right">Due Date:</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.DueDate</span>
                            </div>
                        </div>
                        <!-- // Group END -->
                        <!-- Group -->
                        <div class="row">
                            <label class="col-md-4 " for="StartDate"><span style="float:right">Start Date:</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.StartDate</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 " for="Completed"><span style="float:right">Completed:</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.Completed</span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 " for="PriorityId"><span style="float:right">Priority:</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.Priority</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 " for="StatusId"><span style="float:right">Status:</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.Status</span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 " for="Progress"><span style="float:right">Progress:</span></label>
                            <div class="col-md-8">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" title="@Model.Progress%" style="width: @Model.Progress%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- // Group END -->

                    </div>
                    <div class="col-md-4 form-horizontal">
                        @Html.HiddenFor(m => m.AWB.Id)

                        <div class="row">
                            <label class="col-md-6 " for="Carrier"><span style="float:right">Carrier :</span></label>
                            <div class="col-md-6">
                                <span style="border-radius:0px">@Model.AWB.CarrierName</span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-6 " for="FlightNumber"><span style="float:right">Flight #:</span></label>
                            <div class="col-md-6">
                                <span style="border-radius:0px">@Model.AWB.FlightNumber</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-6 " for="ETD"><span style="float:right">ETD :</span></label>
                            <div class="col-md-6">
                                <span style="border-radius:0px">@Model.AWB.ETD</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-6 " for="Consignee"><span style="float:right">Consignee:</span></label>
                            <div class="col-md-6">
                                <span style="border-radius:0px">@Model.Consignee</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <div class="row">
                            <label class="col-md-4 " for="Weight"><span style="float:right">Weight :</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.Weight</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 " for="pcs"><span style="float:right">PCS :</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.PCS</span>

                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4" for="Volume"><span style="float:right">Volume :</span></label>
                            <div class="col-md-8">
                                <span style="border-radius:0px">@Model.Volume</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <button id="btnEditDGTask_@Model.TaskId" class="btn btn-primary" type="button" style="float:right;margin-left:3px"><i class="fa fa-pencil"></i> Edit</button>
                <button id="btnDGChecklist_@Model.TaskId" class="btn btn-danger" type="button" style="float:right;margin-left:3px"><i class="fa fa-check-square-o cm-button-icon"></i> DG Checklist</button>
            </div>
        </div>
    </div>
</div>

<div id="tabsCRReferences_@Model.TaskId" class="row">
    <div class="col-md-12" style="height:100%">
        <!-- Tabs Heading -->
        <div class="tabsbar tabsbar-2">
            <ul class="row row-merge">
                <li class="col-md-2 glyphicons group active"><a href="#tabCRAssignments_@Model.TaskId" data-toggle="tab"><i></i> Assigned Employees</a></li>
                <li class="col-md-2 glyphicons picture "><a href="#tabCRMedia_@Model.TaskId" data-toggle="tab"><i></i>Media</a></li>
                <li class="col-md-2 glyphicons history "><a href="#tabCRHistory_@Model.TaskId" data-toggle="tab"><i></i> History</a></li>

                @*<li class="col-md-2 glyphicons show_lines  "><a href="#tabCRAttributes_@Model.TaskId" data-toggle="tab"><i></i> Attributes</a></li>*@
            </ul>
        </div>
        <!-- // Tabs Heading END -->

        <div class="tab-content">

            <!-- Tab content -->
            <div class="tab-pane active" style="height:100%" id="tabCRAssignments_@Model.TaskId">
                @Html.Partial("_TaskAssignments", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRAssignments_" + Model.TaskId })
            </div>

            <div class="tab-pane " style="height:100%" id="tabCRMedia_@Model.TaskId">
                @Html.Partial("_TaskMedia", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRMedia_" + Model.TaskId })
            </div>

            <div class="tab-pane " style="height:100%" id="tabCRHistory_@Model.TaskId">
                @Html.Partial("_TaskHistory", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRHistory_" + Model.TaskId })
            </div>
        </div>
    </div>
</div>


@Html.Partial("_TaskDetailsDGScript", Model)
<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>

