﻿@model MCH.Web.Models.Task.TaskDetailsSC

<div class="row">
    <div class="widget widget-heading-simple margin-none col-md-12" id="divTaskDetialsHeader_@Model.TaskId" style="margin-bottom:5px !important;" data-toggle="collapse-widget" data-collapse-closed="false">
        <div class="widget-head">
            <h4 class="heading"></h4>
            <span class="collapse-toggle"></span>
        </div>
        <div class="widget-body in col-md-12" style="height: auto; padding:5px !important;">
            @Html.Partial("_TaskDetailsSCHeader", Model)
        </div>
    </div>
</div>


<div id="tabsSCReferences_@Model.TaskId" class="row">
    <div class="col-md-12" style="height:100%">
        <!-- Tabs Heading -->
        <div class="tabsbar tabsbar-2">
            <ul class="row row-merge">
                <li class="col-md-2 glyphicons group active"><a href="#tabSCScreenings_@Model.TaskId" data-toggle="tab"><i></i> Screenings</a></li>
                <li class="col-md-2 glyphicons picture "><a href="#tabSCMedia_@Model.TaskId" data-toggle="tab"><i></i>Media</a></li>
                <li class="col-md-2 glyphicons history "><a href="#tabSCHistory_@Model.TaskId" data-toggle="tab"><i></i> History</a></li>
            </ul>
        </div>
        <!-- // Tabs Heading END -->

        <div class="tab-content">

            <!-- Tab content -->
            <div class="tab-pane active" id="tabSCScreenings_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskScreenings", new MCH.Web.Models.Task.TaskDetailsScreening { TaskId = Model.TaskId, TabItemId = "tabSCScreenings_" + Model.TaskId, AlarmCount = Model.AlarmCounts.HasValue ? Model.AlarmCounts.Value:0 })
            </div>
            <div class="tab-pane " id="tabSCMedia_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskMedia", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabSCMedia_" + Model.TaskId })
            </div>
            <div class="tab-pane " id="tabSCHistory_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskHistory", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabSCHistory_" + Model.TaskId })
            </div>
        </div>
    </div>
</div>



@Html.Partial("_TaskDetailsSCScript", Model)

<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>
