﻿
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!-->
<html>
<!-- <![endif]-->
<head>
    <title>Mobile Cargo Handler</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <!--
    **********************************************************
    In development, use the LESS files and the less.js compiler
    instead of the minified CSS loaded by default.
    **********************************************************
    <link rel="stylesheet/less" href="~/Content/assets/less/admin/module.admin.page.index.less" />
    -->
    <!--[if lt IE 9]><link rel="stylesheet" href="~/Content/assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/admin/module.admin.page.index.css" />
    <link href="~/Content/assets/css/admin/compared/module.admin.page.widget.dif.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/css/bootstrap-select.css" />

    <link rel="stylesheet" href="~/Content/assets/components/modules/admin/forms/elements/select2/assets/lib/css/select2.css" />
    <link href="~/Content/assets/components/modules/admin/tables/datatables/assets/lib-10-0-3/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/assets/components/modules/admin/tables/datatables/assets/lib-10-0-3/extras/responsive/css/dataTables.responsive.css" rel="stylesheet" />
    @*<link href="~/Content/assets/components/library/bootstrap/datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    <link href="~/Content/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/lib/css/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/components/plugins/carousel/initcarousel-1.css" rel="stylesheet" />

    <link href="~/Content/extend/tab-extend.css" rel="stylesheet" />
    <link href="~/Content/assets/css/custom/data-table-ext.css" rel="stylesheet" />
    <link href="~/Content/assets/css/custom/main.css" rel="stylesheet" />
    <link href="~/Content/assets/css/custom/tabsbar-ext.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="@Url.Content("~/Content/assets/components/library/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/jquery/jquery-migrate.min.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/library/jquery-ui/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/modernizr/modernizr.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/template/jquery-template.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/form/form2js.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/bootstrap/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/main/jquery.ext.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/browser/ie/ie.prototype.polyfill.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/forms/elements/select2/assets/lib/js/select2.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/lib/js/bootstrap-timepicker.js")"></script>



    <script type="text/javascript">
        if (typeof $.fn.bdatepicker == 'undefined')
            $.fn.bdatepicker = $.fn.datepicker.noConflict();
    </script>

    <!--Load application logic scripts-->
    <script src="@Url.Content("~/Scripts/main/navigation.js")"></script>
    <script src="@Url.Content("~/Scripts/main/common-dialogs.js")"></script>
    <script src="@Url.Content("~/Scripts/account/account-model.js")"></script>
    <script src="@Url.Content("~/Scripts/main/date-time-util.js")"></script>
    <script src="@Url.Content("~/Scripts/main/bootstrap-tab-utils.js")"></script>
    <script src="@Url.Content("~/Scripts/dashboard/dashboard-init.js")"></script>

    <script src="@Url.Content("~/Scripts/main/jSignature.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main/image-capture.js")"></script>

    <script type="text/javascript">

        window.SIMPLE_ALERT = (function () {
            "use strict";

            var elem,
                hideHandler,
                that = {};

            that.init = function (options) {
                elem = $(options.selector);
            };

            that.show = function (text) {
                clearTimeout(hideHandler);

                elem.find("span").html(text);
                elem.delay(200).fadeIn().delay(3000).fadeOut();
            };

            return that;
        }());

        //initialize application global handlers
        window.NAVIGATION_HANDLER = new NavigationHandler('@Url.Content("~/")', 'content');
        window.DIALOG_HANDLER = new CommonDialog('@Url.Content("~/")', '');
        window.ACCOUNT_HANDLER = new AccountModel('@Url.Action("logoff","account")');
        window.TAB_HANDLER = new TabHandler('@Url.Content("~/")');
        window.MEDIA_HANDLER = new MediaHandler();
    </script>

</head>
<body>

    <div class="navbar navbar-fixed-top navbar-primary main" role="navigation">

        <div class="navbar-header pull-left">
            <div class="navbar-brand">
                <div class="pull-left">
                    <a href="" class="toggle-button toggle-sidebar btn-navbar"><i class="fa fa-bars"></i></a>
                </div>
                <a href="@Url.Action("index","home")" class="appbrand innerL">CTM</a>

            </div>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li class=" hidden-xs">
                <form class="navbar-form navbar-left " role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type in here..." />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle user dropdown-hover" data-toggle="dropdown"> <img src="@Url.Content("~/Content/assets/images/people/35/8.jpg")" alt="" class="img-circle"><span class="hidden-xs hidden-sm"> &nbsp; @(MCH.Web.Utilities.SessionManager.UserInfo.Firstname + " " + MCH.Web.Utilities.SessionManager.UserInfo.Lastname) </span> <span class="caret"></span></a>
                <ul class="dropdown-menu list pull-right ">
                    <li><a href="#">Your Profile <i class="fa fa-user pull-right"></i></a></li>
                    <li><a href="#">Edit Account <i class="fa fa-pencil pull-right"></i></a></li>
                    <li><a href="#">Get Help <i class="fa fa-question-circle pull-right"></i></a></li>
                    <li><a href="#" data-action="logout" class="func-action">Log out <i class="fa fa-sign-out pull-right"></i></a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="dropdown notification">
                <a href="#" class="dropdown-toggle menu-icon" data-toggle="dropdown"><i class="fa fa-fw fa-envelope-o"></i><span class="badge badge-primary">2</span></a>
                <ul class="dropdown-menu inbox">
                    <li class="headline">Inbox</li>
                    <li><input type="text" class="form-control border-none" placeholder="Search Email..." /></li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#"><img src="@Url.Content("~/Content/assets/images/people/50/8.jpg")" alt="" class="img-circle media-object"></a>
                            <div class="media-body">
                                <a href="" class="strong text-primary"> <i class="fa fa-circle"></i> Vineeta Gupta</a> <span>(3)</span><span class="pull-right time-email">10:20 AM</span>
                                <div class="clearfix"></div>
                                Lorem ipsum dolor sit amet, consecte adipisicing elit.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#"><img src="@Url.Content("~/Content/assets/images/people/50/3.jpg")" alt="" class="img-circle media-object"></a>
                            <div class="media-body">
                                <a href="" class="strong text-primary"> Joanne Smith</a><span>(1)</span><span class="pull-right time-email">06:48 PM</span>
                                <div class="clearfix"></div>
                                Lorem ipsum dolor sit amet, consecte adipisicing elit.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#"><img src="@Url.Content("~/Content/assets/images/people/50/20.jpg")" alt="" class="img-circle media-object"></a>
                            <div class="media-body">
                                <a href="" class="strong text-primary"> <i class="fa fa-circle"></i> Mister Awesome</a> <span>(7)</span><span class="pull-right time-email">04:22 PM</span>
                                <div class="clearfix"></div>
                                Lorem ipsum dolor sit amet, consecte adipisicing elit.
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown notification hidden-sm hidden-md">
                <a href="#" class="dropdown-toggle menu-icon" data-toggle="dropdown"><i class="fa fa-fw fa-exclamation-circle"></i><span class="badge badge-info">2</span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>

            <li><a href="#" class="menu-icon func-action" data-action="logout"><i class="fa fa-sign-out"></i></a></li>
        </ul>
    </div>




    <div id="menu" class="hidden-print hidden-xs">
        <div class="sidebar sidebar-default">
            <div class="user-profile media innerAll">
                <a href="" class="pull-left"><img src="@Url.Content("~/Content/assets/images/people/50/8.jpg")" alt="" class="img-circle"><span class="badge badge-primary">2</span></a>
                <div class="media-body">
                    <a href="" class="strong">@(MCH.Web.Utilities.SessionManager.UserInfo.Firstname + " " + MCH.Web.Utilities.SessionManager.UserInfo.Lastname)</a>
                    <p class="text-success"><i class="fa fa-fw fa-circle"></i> Online</p>
                </div>
                <ul>
                    <li class="active"><a href=""><i class="fa fa-fw fa-user"></i></a></li>
                    <li><a href=""><i class="fa fa-fw fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-lock"></i></a></li>
                </ul>
            </div>
            @if (MCH.Web.Utilities.SessionManager.UserInfo != null && MCH.Web.Utilities.SessionManager.UserInfo.UserMenuItems != null)
            {
                @(Html.Partial("_MenuPartial", MCH.Web.Utilities.SessionManager.UserInfo.UserMenuItems))
            }

        </div>
    </div>

    @Html.Partial("_HtmlTemplates")


    <div id="content" style="height:100%">
        <h1 class="content-heading bg-white border-bottom">Loading <span>please wait...</span> <span class="loading-bar"></span></h1>
        @RenderBody()
    </div>
    <!-- // Content END -->

    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->

    <div id="footer" class="hidden-print">
        @{
            var ApplicaitonVersion = MCH.Web.Utilities.ApplicationVersionHelper.GetUIClientVersionInfo();
        }
        <!--  Copyright Line -->
        <div class="copy">
            &copy; @DateTime.Now.Year - <a href="http://www.cargomatrix.com">CargoMatrix Inc.</a> - All Rights Reserved. <a href="#" target="_blank">MCH</a> - Current version: v @ApplicaitonVersion.Version / @DateTime.Now.ToShortDateString() <a target="_blank" href="#"></a>
        </div>
        <!--  End Copyright Line -->
        <!-- // Footer END -->
    </div>
    <!-- // Main Container Fluid END -->
    <!-- Global -->
    <script>
        var basePath = '',
            commonPath = '@Url.Content("~/Content/assets/")',
            rootPath = '@Url.Content("~/Content/")',
                    DEV = false,
                    componentsPath = '@Url.Content("~/Content/assets/components/")';

        var primaryColor = '#4e72c2',
                dangerColor = '#b55151',
                infoColor = '#466baf',
                successColor = '#8baf46',
                warningColor = '#ab7a4b',
                inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('a[data-action="logout"]').click(function () {
                DIALOG_HANDLER.openLogoutConfirmation(function () {
                    ACCOUNT_HANDLER.logoff();
                });
            });

            // TODO: move this to lib --------------
            $(".btn.tab-close").live('click', function (e) {
                var tabContentId = $(this).parent('a').attr("href");

                var tabHeader = $(this).parent().parent();

                if ($(tabHeader).hasClass("active")) {
                    // select previous tab item
                    var selectTargetHeader = (tabHeader).prev();
                    var selectTargetContainer = $(tabContentId).prev();
                    $(selectTargetHeader).toggleClass("active", true);
                    $(selectTargetContainer).toggleClass("active", true);
                }

                // remove tab item
                $(this).parent().parent().remove();
                $(tabContentId).remove();


                //var tabId = $(this).parent().attr("href");
                //$.event.trigger({
                //    type: "cmEvent_TabSelected",
                //    Id: tabId
                //});

                setTimeout(function () {
                    $(window).trigger("resize");
                    $(window).trigger("cm-sub-resize");
                }, 50);

                //e.stopPropagation();
                //return false;
            });

            // --------- jquery datatable select/unselect all

            $(document).on("change", ".cm-datatable-select", function () {
                var tmpParentRow = $(this).closest("tr");
                $(tmpParentRow).toggleClass("cm-datatable-selected", this.checked);
            });

            $(document).on("change", 'input.cm-datatable-select-header', function () {
                var tmpcheckboxes = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select");
                if (this.checked) {
                    tmpcheckboxes.attr('checked', 'checked');
                } else {
                    tmpcheckboxes.removeAttr('checked');
                }
            });
            //-----------------------------------------------

            $(".tabsbar.tabsbar-2 a[data-toggle='tab']").live('click', function (e) {
                var tabId = $(this).attr("href");
                $.event.trigger({
                    type: "cmEvent_TabSelected",
                    Id: tabId
                });

                setTimeout(function () {
                    $(window).trigger("resize");
                    $(window).trigger("cm-sub-resize");
                }, 50);
            });

            $(".tabsbar.tabsbar-2 li").live('click', function (e) {
                var tabId = $(this).children("a").attr("href");
                $.event.trigger({
                    type: "cmEvent_TabSelected",
                    Id: tabId
                });

                setTimeout(function () {
                    $(window).trigger("resize");
                    $(window).trigger("cm-sub-resize");
                }, 50);
            });

            //---------------------------------------------------------------------------
        })

    </script>

    <script src="@Url.Content("~/Scripts/utils/mch-widgets.js")"></script>
    <script src="@Url.Content("~/Scripts/utils/Globals.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/plugins/nicescroll/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/breakpoints/breakpoints.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-chat/assets/js/widget-chat.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/slimscroll/jquery.slimscroll.js")"></script>
    @*<script src="@Url.Content("~/Content/assets/components/library/bootstrap/datetime/js/bootstrap-datetimepicker.js")"></script>*@

    @*<script src="@Url.Content("~/Content/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js")"></script>*@

    <script src="@Url.Content("~/Content/assets/components/modules/admin/forms/elements/inputmask/assets/lib/jquery.inputmask.bundle.min.js")"></script>


    <script src="@Url.Content("~/Content/assets/components/modules/admin/modals/assets/js/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/tables/datatables/assets/lib-10-0-3/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/modules/admin/tables/datatables/assets/lib-10-0-3/extras/responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.editbale.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js")"></script>


    <script src="@Url.Content("~/Content/assets/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-scrollable/assets/js/widget-scrollable.init.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/holder/holder.js")"></script>



    <script src="@Url.Content("~/Content/assets/components/plugins/holder/holder.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/core/js/sidebar.main.init.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/core/js/sidebar.collapse.init.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/core/js/core.init.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/carousel/amazingcarousel.js")"></script>


</body>
</html>