﻿
@helper ShowMenuItems(IEnumerable<CMX.Shell.Model.MenuItem> items)
{

    foreach (var menuItem in items)
    {
        if (menuItem.ChildItems != null && menuItem.ChildItems.Any())
        {
            <li class="hasSubMenu">
                <a href="#" data-target="#menu_item_@menuItem.Id" data-toggle="collapse"><i class="@menuItem.MenuImagePath"></i><span>@menuItem.Label</span></a>
                <ul class="collapse" id="menu_item_@menuItem.Id">
                    @ShowMenuItems(menuItem.ChildItems)
                </ul>
            </li>
        }
        else
        {
            string isDefaultString = menuItem.IsAccountDefault ? "class=active" : String.Empty;
            string tmpTarget = Url.Action(!String.IsNullOrWhiteSpace(menuItem.Url) ? menuItem.Url.Trim().Split('/')[1] : String.Empty, !String.IsNullOrWhiteSpace(menuItem.Url) ? menuItem.Url.Trim().Split('/')[0] : string.Empty);


            <li @isDefaultString>
                <a href="#" data-target="@tmpTarget" data-nav-item data-task-type="@menuItem.TaskTypeId">
                    <span class="pull-right badge badge-primary"></span>
                    <i class="@menuItem.MenuImagePath"></i><span>@menuItem.Label</span>
                </a>
            </li>
        }
    }
}



<div class="sidebarMenuWrapper">
    @if (MCH.Web.Utilities.SessionManager.UserInfo.UserMenuItems != null)
    {
        <ul class="list-unstyled">
            @ShowMenuItems(MCH.Web.Utilities.SessionManager.UserInfo.UserMenuItems)
        </ul>
    }
</div>



<script type="text/javascript">
    $(document).ready(function () {
        window.refreshMenuTaskCounts = function () {

            $.getJSON("@Url.Action("GetMenuTaskCounts", "Dashboard")", function (data) {
                var items = [];
                $.each(data, function (key, val) {
                    var holder = $("a[data-task-type=" + val.TaskTypeId + "]");
                    $(holder).children("span.badge").html(val.Count);
                });
            });
        }

        window.refreshMenuTaskCounts();

        $('.sidebarMenuWrapper a[data-nav-item]').click(function (e) {
            if (!$(this).parent().hasClass("hasSubMenu")) {
                $(".sidebarMenuWrapper a").parent().removeClass("active");
                $(this).parent().addClass("active");
            }

            var targetUrl = $(this).attr('data-target');
            var itemTaskTypeId = $(this).attr("data-task-type");
            // if it is task menu item pass the task type
            if (itemTaskTypeId != null && itemTaskTypeId != '') {
                var taskNavData = {};
                taskNavData.TaskTypeId = itemTaskTypeId;
                taskNavData.WarehousePortId = '@MCH.Web.Utilities.SessionManager.UserInfo.UserDefaultStationId';
                window.NAVIGATION_HANDLER.navigateTo(targetUrl, taskNavData, function () { });
            } else {
                window.NAVIGATION_HANDLER.itemNavigate(targetUrl, function () { });
            }

            window.NAVIGATION_HANDLER.setCurrentUrl(targetUrl);
        });

        @if (MCH.Web.Utilities.SessionManager.UserInfo != null &&  MCH.Web.Utilities.SessionManager.UserInfo.UserDefaultMenu != null)
        {
            <text>
        // navigate to default screen
        var dashboardUrl = '@Url.Action(MCH.Web.Utilities.SessionManager.UserInfo.UserDefaultMenu.Split('/')[1], MCH.Web.Utilities.SessionManager.UserInfo.UserDefaultMenu.Split('/')[0])';
        window.NAVIGATION_HANDLER.itemNavigate(dashboardUrl);
        window.NAVIGATION_HANDLER.setCurrentUrl(dashboardUrl);
        </text>
        }
    })

</script>

@*<div class="sidebarMenuWrapper">
        <ul class="list-unstyled">

            <li class="active"><a href="#" data-target="@Url.Action("Index","Reports")" data-nav-item><i class=" icon-projector-screen-line"></i><span>Reports</span></a></li>
            <li class="hasSubmenu">
                <a href="#" data-target="#collapse-menu" data-toggle="collapse"><i class="icon-settings-wheel-fill"></i><span>Operations</span></a>
                <ul class="collapse" id="collapse-menu">
                    <li>
                        <a href="#" data-target="@Url.Action("SearchTasks","Tasks")" data-nav-item><i class="icon-compose"></i><span>Task Manager</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-target="@Url.Action("SearchTasks","Tasks")" data-nav-item>
                            <i class="icon-compose"></i><span>Task Manager</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>*@
